.third {
color: #002663;
    font-size: 15pt;
}
.about {
    background-color: #f0f0f0;
    padding-top: 3%;
    padding-bottom: 3%;

}
.text1 {
    margin-right: 0%;
    font-size: 1.2em;
    line-height: 1.8em;
    text-align: justify;
}
.aboutbox {
    margin-top: 5%;
    margin-bottom: 5%;

}
.withimg {
display: inline-block;
    float: left;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 30px;
}
.withcontent {
    margin-top: 0px;
    float: left;
}
