

footer h1,
footer h2,
footer h3,
footer h4,
h2.subTitle,
body {
    color: #464646 !important;
    font-weight: 300 !important
}



#footerRights {
    background-color: #eee !important;
    border-top: 1px solid #002663 !important;
    color: #464646 !important
}



footer#footerWrapper {
    border-top: 2px solid #002663;
    background: #fff !important
}
