footer {
    & h1,
    & h2,
    & h3,
    & h4,
    h2.subTitle,
    body {
        color: #464646 !important;
        font-weight: 300 !important
    }
    #footerRights {
        background-color: #eee !important;
        border-top: 1px solid #002663 !important;
        color: #464646 !important
    }
    border-top: 2px solid #002663;
    background: #fff !important;
    .footerWidget {
        // font-weight: bold;
    }
    .footerText {
        left: 40px;
        position: absolute;
    }
    ul.footerlist li {
        display: inline;
    }
    a {
        color: #777 !important;
        // font-weight: bold;
    }
    a:hover {
        color: #a8c5eb !important;
        font-weight: bold;
    }
}
