#header {
    background-color: #bfbdbd
}

#header nav li {
    display: inline;
    padding: 3px;
    line-height: 20px
}

#header nav li.submenu {
    float: left;
    margin: 10px;
    border: #888 1px solid
}


#header nav ul.level_2 {
    padding: 10px 0 0
}

#mainHeader nav a {
    font-weight: 300 !important
}
/* Unterer Rand entfernt */
#mainHeader {
    background: #fff
}

.reflink {
    display: inline
}



.invisible {
    display: none
}

.navbar-default {
    background: none;
    border: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important
}

.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.trail {
    border: 0 !important
}


#BreadCrumbs .page-header {
    padding: 16px 0;
    background: #fff
}

#BreadCrumbs .phonenr {
    top: 50%;
    position: absolute;
    margin-top: -10px;
    margin-bottom: 0;
    padding: 0;
    background: none;
    left: 15px
}

#BreadCrumbs ul.breadcrumb li a {
    color: #a8c5eb !important
}

#BreadCrumbs ul.breadcrumb {
    diefrageistob-right: 38px
}

#BreadCrumbs ul.breadcrumb li.active {
    color: #464646 !important
}

nav.subnavStart ul li {
    border-bottom: 1px solid #eee;
    color: #464646
}

nav.subnavStart ul li:last-child {
    border-bottom: 0;
    color: #464646
}

nav.subnavStart ul li a.active,
nav#subnav ul li a.active {
    color: #002663 !important;
    border-bottom-color: #002663 !important
}



div.nekoMegaMenu {
    border-bottom: 2px solid #002663;
}


ul.flex-direction-nav {
    display: none
}

nav#subnav span.active {
    display: block;
    margin: 0;
    padding: 11px 0;
    border-bottom: 1px solid #002663;
    color: #002663;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}




@media (min-width:768px) and (max-width:992px) {

    .navbar-nav > li > a {
        padding: 22px 15px !important
    }
    div.footerWidget {
        padding: 0
    }
    #subnav {
        margin-top: 0 !important
    }
    nav.subnavStart ul li:last-child {
        border-bottom: 1px solid #eee !important
    }
    .paneDivStartseite {
        margin-bottom: 0 !important
    }
    .paneDivStartseite ul {
        padding-bottom: 0 !important
    }
}

@media (min-width:992px) and (max-width:1200px) {

    .navbar-nav > li > a {
        padding: 8px 15px !important
    }
    .navbar-nav ul,
    .navbar-nav .nekoMegaMenu {
        top: 62px !important
    }
    .navbar-headerÂ {
        height: 48px !important
    }
    .navbar-brand {
        padding: 19px 0 !important
    }
    body {
        padding-top: 62px !important
    }
}

@media (min-width:1200px) {
    .navbar-nav > li > a {
        padding: 8px 22px !important
    }
    .navbar-nav ul,
    .navbar-nav .nekoMegaMenu {
        top: 62px !important
    }
    .navbar-headerÂ {
        height: 48px !important
    }
    .navbar-brand {
        padding: 19px 0 !important
    }
    body {
        padding-top: 62px !important
    }
}
