
ul.timeline {
    position: relative;
    padding: 0;
    list-style: none
}

.timeline > li .rounded {
    border-radius: 50% !important
}

.timeline > li .lightbg {
    background: #a8c5eb !important
}

.timeline:before {
    width: 4px;
    top: 0;
    bottom: 0;
    left: 22%;
    position: absolute;
    margin-left: -14px;
    content: '';
    background: #f3f3f3
}

.timeline > li .cbp_tmtime {
    width: 25%;
    left: 54px;
    position: absolute;
    display: block;
    margin-top: 12px;
    font-size: 16px
}

.timeline > li .cbp_tmicon {
    width: 10px;
    height: 10px;
    left: 22%;
    position: absolute;
    margin: 0 0 0 -17px;
    margin-top: 18px !important;
    background: #002663;
    box-shadow: 0 0 0 4px #f3f3f3;
    -webkit-font-smoothing: antialiased
}

.timeline > li .cbp_tmlabel p {
    margin: 0;
    padding: 11px 0 0;
    font-size: 16px
}

.timeline > li .cbp_tmlabel {
    position: relative;
    clear: both;
    border: 0;
    border-radius: 5px;
    line-height: 1.4;
    color: #464646;
    behavior: url("assets/css3pie/1.0.0/PIE.htc");
    behavior: url("assets/css3pie/1.0.0/PIE.htc");
    margin: 0 0 25px 25%
}
