

li.year.submenu span.active + ul {
    display: inline
}

li.year.submenu ul {
    display: none
}


ul.socialNetwork li {
    padding: 0 2px
}

section.ce_rsce_ref {
    background-color: #e3e3e3
}

.imgFullWidth {
    width: 100%;
    height: auto
}

hr.line {
    border-top: 1px solid #002663 !important
}

hr.lineArrow:before {
    display: none
}


.removeMRL5 {
    margin-right: -5px;
    margin-left: -5px
}

hr.lineStar,
hr.lineX,
hr.linePlus,
hr.lineDot,
hr.lineLines,
hr.lineArrow {
    border-top: 1px solid #002663 !important
}

hr.lineStar:after,
hr.lineX:after,
hr.linePlus:after,
hr.lineDot:after,
hr.lineLines:after,
hr.lineArrow:after {
    color: #002663 !important;
    border: 1px solid #002663 !important
}

select {
    padding: 0 !important
}


#header nav ul.level_2 {
    padding: 10px 0 0
}

#mainHeader nav a {
    font-weight: 300 !important
}

#mainHeader {
    border-bottom: 2px solid #002663;
    background: #fff
}

.ce_accordionStart {
    border: 1px solid #888
}

.ui-accordion-header {
    padding: 5px;
    font-weight: bold
}

#header {
    background-color: #bfbdbd
}

#header nav li {
    display: inline;
    padding: 3px;
    line-height: 20px
}

#header nav li.submenu {
    float: left;
    margin: 10px;
    border: #888 1px solid
}

footer h1,
footer h2,
footer h3,
footer h4,
h2.subTitle,
body {
    color: #464646 !important;
    font-weight: 300 !important
}

.reflink {
    display: inline
}



.invisible {
    display: none
}

.navbar-default {
    background: none;
    border: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important
}

.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.trail {
    border: 0 !important
}

#footerRights {
    background-color: #eee !important;
    border-top: 1px solid #002663 !important;
    color: #464646 !important
}

h1,
h2,
h3,
h4 {
    font-weight: 300 !important
}


h2:after {
    height: 2px !important;
    background: #002663 !important;
    filter: alpha(opacity=10);
    opacity: .1
}

footer#footerWrapper {
    border-top: 2px solid #002663;
    background: #fff !important
}

#BreadCrumbs .page-header {
    padding: 16px 0;
    background: #fff
}

#BreadCrumbs .phonenr {
    top: 50%;
    position: absolute;
    margin-top: -10px;
    margin-bottom: 0;
    padding: 0;
    background: none;
    left: 15px
}

#BreadCrumbs ul.breadcrumb li a {
    color: #a8c5eb !important
}

#BreadCrumbs ul.breadcrumb {
    diefrageistob-right: 38px
}

#BreadCrumbs ul.breadcrumb li.active {
    color: #464646 !important
}

p.sliderHl1 {
    left: 0;
    top: 80px;
    position: absolute;
    font-style: italic;
    font-size: 30px !important;
    font-weight: 300 !important;
    color: rgb(34, 47, 90) !important
}

.flexslider .caption {
    width: 700px !important
}

p.sliderHl2 {
    left: 40px;
    position: absolute;
    font-style: italic;
    font-size: 30px !important;
    font-weight: 300 !important;
    top: 120px;
    color: rgb(169, 197, 233) !important
}

nav.subnavStart ul li {
    border-bottom: 1px solid #eee;
    color: #464646
}

nav.subnavStart ul li:last-child {
    border-bottom: 0;
    color: #464646
}

nav.subnavStart ul li a.active,
nav#subnav ul li a.active {
    color: #002663 !important;
    border-bottom-color: #002663 !important
}

div.footerWidget {
    padding: 0 65px
}

.kompetenzBg {
    background: #fff
}

.kompetenzCaption {
    margin: 0;
    padding: 12px 5px;
    font-size: 14px;
    color: #002663
}

.iconList.subnavStart li:before {
    margin-right: 5px !important
}

div.nekoMegaMenu {
    border-bottom: 2px solid #002663
}

input[type=text],
input[type=email],
select,
textarea {
    height: 30px;
    padding: 8px;
    border-radius: 0 !important
}

select {
    height: 28px !important
}

ul.flex-direction-nav {
    display: none
}

nav#subnav span.active {
    display: block;
    margin: 0;
    padding: 11px 0;
    border-bottom: 1px solid #002663;
    color: #002663;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

@media (min-width:768px) and (max-width:992px) {

    .startseiteKompentenzen a {
        font-size: 14px;
        padding: 10px 15px !important
    }
    .navbar-nav > li > a {
        padding: 22px 15px !important
    }
    div.footerWidget {
        padding: 0
    }
    #subnav {
        margin-top: 0 !important
    }
    nav.subnavStart ul li:last-child {
        border-bottom: 1px solid #eee !important
    }
    .paneDivStartseite {
        margin-bottom: 0 !important
    }
    .paneDivStartseite ul {
        padding-bottom: 0 !important
    }
}

@media (min-width:992px) and (max-width:1200px) {

    .startseiteKompentenzen a {
        font-size: 14px;
        padding: 10px 15px !important
    }
    .navbar-nav > li > a {
        padding: 8px 15px !important
    }
    .navbar-nav ul,
    .navbar-nav .nekoMegaMenu {
        top: 62px !important
    }
    .navbar-headerÂ {
        height: 48px !important
    }
    .navbar-brand {
        padding: 19px 0 !important
    }
    body {
        padding-top: 62px !important
    }
    div.footerWidget {
        padding: 0 30px
    }
}

@media (min-width:1200px) {
    /* JCD_min-width_1200.css */
    .startseiteKompentenzen a {
        font-size: 14px;
        padding: 10px 15px !important
    }
    .paneDivStartseite:first-child li:last-child {
        border-bottom: 0
    }
    .navbar-nav > li > a {
        padding: 8px 22px !important
    }
    .navbar-nav ul,
    .navbar-nav .nekoMegaMenu {
        top: 62px !important
    }
    .navbar-headerÂ {
        height: 48px !important
    }
    .navbar-brand {
        padding: 19px 0 !important
    }
    body {
        padding-top: 62px !important
    }
    .flexstartseite {
        height: 415px;
        min-height: 414px;
        max-height: 415px
    }
    .tab-content {
        padding: 16px 22px !important
    }
    .tab-pane {
        height: 176px !important
    }
}

ul.timeline {
    position: relative;
    padding: 0;
    list-style: none
}

.timeline > li .rounded {
    border-radius: 50% !important
}

.timeline > li .lightbg {
    background: #a8c5eb !important
}

.timeline:before {
    width: 4px;
    top: 0;
    bottom: 0;
    left: 22%;
    position: absolute;
    margin-left: -14px;
    content: '';
    background: #f3f3f3
}

.timeline > li .cbp_tmtime {
    width: 25%;
    left: 54px;
    position: absolute;
    display: block;
    margin-top: 12px;
    font-size: 16px
}

.timeline > li .cbp_tmicon {
    width: 10px;
    height: 10px;
    left: 22%;
    position: absolute;
    margin: 0 0 0 -17px;
    margin-top: 18px !important;
    background: #002663;
    box-shadow: 0 0 0 4px #f3f3f3;
    -webkit-font-smoothing: antialiased
}

.timeline > li .cbp_tmlabel p {
    margin: 0;
    padding: 11px 0 0;
    font-size: 16px
}

.timeline > li .cbp_tmlabel {
    position: relative;
    clear: both;
    border: 0;
    border-radius: 5px;
    line-height: 1.4;
    color: #464646;
    behavior: url("assets/css3pie/1.0.0/PIE.htc");
    behavior: url("assets/css3pie/1.0.0/PIE.htc");
    margin: 0 0 25px 25%
}
