# deliver the precompressed middleman files

AddEncoding gzip .gz

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{HTTP:Accept-encoding} gzip
  RewriteCond %{HTTP_USER_AGENT} !Konqueror
  RewriteCond %{REQUEST_FILENAME}.gz -f
  RewriteRule ^(.*)\.css$ $1.css.gz [QSA,L]
  RewriteRule ^(.*)\.js$ $1.js.gz [QSA,L]
  RewriteRule ^(.*)\.html$ $1.html.gz [QSA,L]
</ifModule>

<IfModule mod_expires.c>
  ExpiresActive on

  ExpiresByType text/cache-manifest           "access plus 0 seconds"
  ExpiresByType text/html                     "access plus 0 seconds"
  ExpiresByType text/xml                      "access plus 0 seconds"
  ExpiresByType application/xml               "access plus 0 seconds"
  ExpiresByType application/json              "access plus 0 seconds"
  ExpiresByType application/rss+xml           "access plus 1 hour"
  ExpiresByType application/atom+xml          "access plus 1 hour"
  ExpiresByType image/gif                     "access plus 1 month"
  ExpiresByType image/png                     "access plus 1 month"
  ExpiresByType image/jpeg                    "access plus 1 month"
  ExpiresByType image/x-icon                  "access plus 1 month"
  ExpiresByType video/ogg                     "access plus 1 month"
  ExpiresByType audio/ogg                     "access plus 1 month"
  ExpiresByType video/mp4                     "access plus 1 month"
  ExpiresByType video/webm                    "access plus 1 month"
  ExpiresByType text/x-component              "access plus 1 month"
  ExpiresByType application/x-font-ttf        "access plus 1 month"
  ExpiresByType font/opentype                 "access plus 1 month"
  ExpiresByType application/x-font-woff       "access plus 1 month"
  ExpiresByType image/svg+xml                 "access plus 1 month"
  ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
  ExpiresByType text/css                      "access plus 1 year"
  ExpiresByType application/javascript        "access plus 1 year"
  ExpiresByType application/x-javascript      "access plus 1 year"
</IfModule>
