<section class="item about">
<a class="anchor" id="überuns"></a>
    <div class="container">
        <div class="row">
            <div class="col-md-6 withimg">
                <img src="<%= image_path('/images/about/1.jpg') %>" alt="Praxiserfahrung sammeln" class="img-responsive" />
            </div>
            <div class="col-md-6 withcontent">
                <!-- <p class="text-muted"> ÜBER UNS </p> -->
                <h1>Praxiserfahrung sammeln</h1>
                <!-- <p class="third">Praxiserfahrung sammeln </p> -->
                <p class="text1">
                    Uniwissen ist die wichtigste Grundlage für das spätere Berufsleben. Daneben gibt es aber noch eine Vielzahl an Fähigkeiten, die man in der Vorlesung nicht lernen kann. Als studentische Unternehmensberatung bieten wir eine Fülle an Möglichkeiten, sich persönlich weiter zu entwickeln. Wir haben den Anspruch, jedem unserer Mitglieder in Vereinsaufgaben Führungsverantwortung und Qualitätsbewusstsein zu vermitteln. Zusätzlich kann jeder in regelmäßigen Präsentationen sein Auftreten verbessern. Unsere offene Feedbackkultur fördert dabei den Ausbau individueller Potentiale jedes einzelnen Mitglieds. Denn uns ist es wichtig, Aufgaben anzubieten, an denen man auch wachsen kann.
                </p>
            </div>
        </div>
    </div>
</section>
