<section class="item about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 withimg">
                <img src="<%= image_path('/images/about/3.jpg') %>" alt="Spaß haben" class="img-responsive" />
            </div>
            <div class="col-md-6 withcontent">
                <!--<p class="text-muted"> ÜBER UNS </p>-->
                <h1>Spaß haben</h1>
                <!--<p class="third">Spaß haben </p>-->
                <p class="text">
                    Der Teamgeist spielt für uns nicht nur in den Beraterteams eine große Rolle. Als Hochschulgruppe möchten wir ebenso die Studienzeit in gemeinsamen Events genießen. Neben Sportveranstaltungen wie Squashspielen, gehen wir auch gerne mal abends zusammen feiern. Darüber hinaus organisieren wir regelmäßig größere Events wie gemeinsames Segeln auf der Nordsee. Ein besonderes Highlight stellt unser Strategiewochenende in den französischen Alpen in La Clusaz dar. Hier werden in einem Chalet vor idyllischer Kulisse aktuelle Themen zur strategischen Weiterentwicklung des Vereins diskutiert. Denn in lockerer Atmosphäre lernt man sich einfach am besten kennen.
                </p>
            </div>
        </div>
    </div>
</section>
