<section class="item about">
    <div class="container">
        <div class="row">
          <div class="col-md-6 withimg">
              <img src="<%= image_path('/images/about/2.jpg') %>" alt="Fähigkeiten entwickeln" class="img-responsive" />
          </div>
          <div class="col-md-6 withcontent">
              <!--<p class="text-muted"> ÜBER UNS </p>-->
              <h1>Fähigkeiten entwickeln</h1>
              <!--<p class="third">Fähigkeiten entwickeln </p>-->
              <p class="text2">
                  Als Mitglieder von Junior Comtec sind wir stets dazu bereit, unsere Fähigkeiten auszubauen und uns neuen Herausforderungen zu stellen. Mit Unterstützung unserer externen Partner und unserem Ehemaligennetzwerk können wir unseren Mitgliedern regelmäßig anspruchsvolle Workshops anbieten. Daneben sind wir auch untereinander stets bemüht, unser Wissen weiterzugeben. Experten, die ein fundiertes Wissen in bestimmten Themengebieten besitzen, werden dazu ermuntert, dieses in Schulungen an andere Mitglieder weiterzugeben. Somit schaffen wir nicht nur die Möglichkeit, zu lernen, wie Wissen effektiv weitervermittelt wird, sondern bieten auch exzellente Möglichkeiten, Fähigkeiten auszubauen, die nicht im Vorlesungssaal gelernt werden können.
              </p>
          </div>

      </div>
    </div>
</section>
