<div class="custom">
    <div id="BreadCrumbs">
        <div class="inside">
            <!-- indexer::stop -->
            <div class="mod_breadcrumb block">
                <header class="page-header mb30 visible-md visible-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="phonenr"><small>+49 (0) 6151 154 06 61</small></div>
                                <ul class="breadcrumb">
                                    <li class="first"><a href="startseite.html" title="Junior Comtec">Junior Comtec</a></li>
                                    <li class="active last">Über Uns - die studentischen Berater</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>
</div>
