
        <section id="contact" class="color1 pt40 pb40">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb40 text-center">
                        <h1>Contact</h1>
                        <h2 class="subTitle">Keep in touch with us</h2>
                    </div>
                    <div class="col-md-4 mb15" data-nekoanim="fadeInUp" data-nekodelay="0">
                        <div id="mapWrapper"></div>
                    </div>
                    <div class="col-md-5 col-sm-8" data-nekoanim="fadeInUp" data-nekodelay="100">
                        <div class="boxFocus color0">
                            <form method="post" action="js-plugin/neko-contact-ajax-plugin/php/form-handler.php" id="contactfrm" role="form">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" title="Please enter your name (at least 2 characters)" />
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="Please enter a valid email address" />
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input name="phone" class="form-control" type="tel" id="phone" size="30" value="" placeholder="Enter email phone" title="Please enter a valid phone number (at least 10 characters)">
                                </div>
                                <div class="form-group">
                                    <label for="category">Category</label>
                                    <select class="form-control required" name="category" id="category" title="Please select a category">
                                        <option value="">Select a category</option>
                                        <option value="message">Message</option>
                                        <option value="quote">Quote</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="comments">Comments</label>
                                    <textarea name="comment" class="form-control" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
                                </div>
                                <fieldset class="clearfix securityCheck">
                                    <h3>Security</h3>
                                    <div class="form-group">
                                        <img src="js-plugin/neko-contact-ajax-plugin/php/image.php" alt="Image verification" />
                                        <input class="required form-control" id="verify" name="verify" type="text">
                                    </div>
                                </fieldset>
                                <div class="result"></div>
                                <button name="submit" type="submit" class="btn btn-primary" id="submit"> Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4" data-nekoanim="fadeInUp" data-nekodelay="200">
                        <h4>Address:</h4>
                        <address>
                            Rainy Day Company
                            <br/> 77 Mass. Ave., E14/E15
                            <br/> Seattle, MA 02139-4307 USA
                            <br/>
                        </address>
                        <h4>Phone:</h4>
                        <address>
                            615.987.1234
                            <br/>
                        </address>
                    </div>
                </div>
            </div>
            contact -->
        </section>
        <!-- content -->
    </section>
    <!-- call to action
    <section class="color2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ctaBox ctaBoxFullwidth ctaBox2Cols">
                        <div class="ctaBoxText" data-nekoanim="fadeInUp" data-nekodelay="0">
                            <h1>
                      <strong>SEATTLE Bootstrap Website Template</strong><br /> is perfect for clean presentation of your business.
                    </h1>
                        </div>
                        <div class="ctaBoxBtn" data-nekoanim="fadeInDown" data-nekodelay="0">
                            <a class="btn btn-lg btn-border" title="" href="https://wrapbootstrap.com/theme/seattle-business-website-template-WB08M83J0" target="blank">
                                <i class="icon-down-open-big"></i> download now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

