<style type="text/css"><!--
    div.tab:not(:target) div.content, div.tab:target div.show, div.tab div.hide {
    display: none;
}

div.tab:target div.content, div.tab:target div.hide {
display: block;
}
--></style>

<section class="item about">
    <div class="container">
            <div class="col-md-6 withcontent">
                <!--<p class="text-muted"> ÜBER UNS </p>-->
                <h1>FAQ</h1>
                <!--<p class="third">FAQ</p>-->


                <div class="tab" id="text1">
                    <div class="show">
                        <a href="#text1">Was versteht man unter einer studentischen Unternehmensberatung?</a>
                    </div>
                    <div class="hide">
                        <a href="#">Was versteht man unter einer studentischen Unternehmensberatung?</a>
                    </div>
                    <div class="content">
                        Wie der Name schon sagt, sind wir eine ausschließlich von Studenten getragene Unternehmensberatung im universitären Umfeld. Wir verstehen uns als Studentenvereinigung, die erkannt hat, dass universitäres Wissen allein nicht ausreicht. Unseren Kunden bieten wir professionelle Beratungsprojekte an, auf denen unsere Mitglieder wertvolle Praxiserfahrung sammeln. Als älteste, deutsche studentische Unternehmensberatung steht Junior Comtec für mehr als nur Beratungsleistungen. Einen gleichbedeutenden Teil von Junior Comtec bildet das Vereinsleben. Dabei stehen das Stärken der eigenen Fähigkeiten in internen und externen Workshops sowie die Weiterentwicklung des Vereins im Vordergrund.. Neben professionellen Beratungsprojekten und engagierter Vereinsarbeit, ist auch das soziale Miteinander eine zentrale Säule von Junior Comtec. So wird der Teamgeist regelmäßig durch Stammtische, Events und Ausflüge gestärkt. Als besondere Highlights müssen definitiv die halbjährlichen Strategiewochenenden genannt werden, bei denen wir gemeinsam für 2-4 Tage verreisen, um über die Zukunft des Vereins zu diskutieren und einander fernab des Unistresses besser kennenzulernen.
                    </div>
                </div>

            </div>
      </div>
</section>

