<section class="item about" style="background: #fff">
    <div class="container">        
                <!--<p class="text-muted"> FAQ </p>-->
                <h1>Frequently Asked Questions</h1>
                <!--<p class="third">Frequently Asked Questions</p>-->

        
        
                <input type="checkbox" id="info1">
                    <label class="info" for="info1">Was versteht man unter einer studentischen Unternehmensberatung?
                       </label><br/>
                    <span class="info1">
                        <p class="text1">
                        Wie der Name schon sagt, sind wir eine ausschließlich von Studenten getragene Unternehmensberatung im universitären Umfeld. Wir verstehen uns als Studentenvereinigung, die erkannt hat, dass universitäres Wissen allein nicht ausreicht. Unseren Kunden bieten wir professionelle Beratungsprojekte an, auf denen unsere Mitglieder wertvolle Praxiserfahrung sammeln. Als älteste, deutsche studentische Unternehmensberatung steht Junior Comtec für mehr als nur Beratungsleistungen. Einen gleichbedeutenden Teil von Junior Comtec bildet das Vereinsleben. Dabei stehen das Stärken der eigenen Fähigkeiten in internen und externen Workshops sowie die Weiterentwicklung des Vereins im Vordergrund. Neben professionellen Beratungsprojekten und engagierter Vereinsarbeit, ist auch das soziale Miteinander eine zentrale Säule von Junior Comtec. So wird der Teamgeist regelmäßig durch Stammtische, Events und Ausflüge gestärkt. Als besondere Highlights müssen definitiv die halbjährlichen Strategiewochenenden genannt werden, bei denen wir gemeinsam für 2-4 Tage verreisen, um über die Zukunft des Vereins zu diskutieren und einander fernab des Unistresses besser kennenzulernen.
                        </p>
                    </span>
                
                <input type="checkbox" id="info2">
                    <label class="info" for="info2">Welche Fachbereiche sind bei Junior Comtec vertreten?
                       </label><br/>
                    <span class="info2">
                        <p class="text1">
                        Der Großteil unserer Mitglieder studiert Wirtschaftsingenieurwesen an der TU Darmstadt. Auch Studierende anderer Fakultäten wie z.B. Maschinenbau, Elektrotechnik, Informatik, Mathematik, Physik, Psychologie oder Pädagogik engagieren sich seit Jahren bei uns. Neben Studenten der TU Darmstadt haben ebenfalls Studierende anderer Hochschulen den Weg zu uns gefunden. Wir sind davon überzeugt, dass diese Interdisziplinarität der Mitglieder ein entscheidender Erfolgsfaktor des Vereins und vor allem der Projektarbeit ist. Folglich sind grundsätzlich alle Studierenden herzlich willkommen! 
                        </p>
                    </span>
        
        <input type="checkbox" id="info3">
                    <label class="info" for="info3">Wie viel Zeit werde ich in Junior Comtec investieren? 
                       </label><br/>
                    <span class="info3">
                        <p class="text1">
                        Grundsätzlich kannst Du Dir deine Zeit selbstständig einteilen. Allerdings wird eine regelmäßige Anwesenheit in über 75% der einmal wöchentlich stattfindenden Vereinssitzungen sowie ein generelles Engagement im Verein erwartet. Dieses Engagement äußert sich beispielsweise durch die Erledigung von Vereinsaufgaben, Bürodiensten oder der Mitarbeit in einem unserer zahlreichen Stäbe. Vor allem für die Projektarbeit, mit der Du ab der Aufnahme als Interessent beginnen kannst, solltest Du Dir ausreichend Zeit nehmen. Sowohl die Arbeit an Projekten, als auch hohes Vereinsengagement lassen sich jedoch mit Deinem Studium vereinbaren.
                        </p>
                    </span>
        
        <input type="checkbox" id="info4">
                    <label class="info" for="info4">Erwarten mich Pflichttermine?
                       </label><br/>
                    <span class="info4">
                        <p class="text1">
                        Im Allgemeinen findet bei uns jedwedes Engagement auf freiwilliger Basis statt. Als selbstverständlich angenommen wird jedoch, dass Du über 75% der mittwöchigen Vereinssitzungen besuchst, bei Mentorentreffen erscheinst und zuverlässig Deinen Aufgaben in Bezug auf Vereins- und Projektarbeit nachkommst. Damit Du Junior Comtec und unsere Arbeitsweise umfassend kennenlernst und auf Deine Mitarbeit vorbereitet wirst, erwarten Dich zu Beginn zusätzlich vier verpflichtende Basisschulungen. Diese verdeutlichen dir unsere Arbeitsweise und werden Dir den Einstieg erleichtern.  
                        </p>
                    </span>
        
        <input type="checkbox" id="info5">
                    <label class="info" for="info5">Wie kann ich zu Euch Kontakt aufnehmen?
                       </label><br/>
                    <span class="info5">
                        <p class="text1">
                       Der schnellste Weg, um mit uns in Kontakt zu treten, ist eine E-Mail an mitmachen@junior-comtec.de zu senden. Über diese Adresse kannst Du Dich mit Deinen Fragen an uns wenden oder Dich direkt für einen unserer Infoabende anmelden. Falls wir uns in einer Deiner Vorlesungen vorstellen, zögere nicht uns im Anschluss auch gerne persönlich anzusprechen! Selbstverständlich freuen wir uns auch, wenn Du uns in unserem Büro im Hochschulgruppenhaus besuchen kommst.
                        </p>
                    </span>
        
        <input type="checkbox" id="info6">
                    <label class="info" for="info6">Wann kann ich bei Junior Comtec anfangen?
                       </label><br/>
                    <span class="info6">
                        <p class="text1">
                       Jeweils zu Semesterbeginn nehmen wir neue Aspiranten auf. In diesem Zeitraum finden auch unsere beiden Infoabende pro Semester statt. Nichts desto trotz kannst Du uns gerne jederzeit kontaktieren, um Deine Fragen zu stellen oder Dich vorab für den nächsten Infoabend anzumelden.  Auf unserer Homepage unter www.junior-comtec-ev.de findest Du die Termine für die nächsten Infoabende und weitere nützliche Informationen. Um dich zum Infoabend anzumelden, sende bitte eine E-Mail an mitmachen@junior-comtec.de. Wir freuen uns auf Dich!
                        </p>
                    </span>
        
        <input type="checkbox" id="info7">
                    <label class="info" for="info7">Wie läuft der Einstieg ab? 
                       </label><br/>
                    <span class="info7">
                        <p class="text1">
                       Nach der ersten Kontaktaufnahme triffst Du uns auf einem Infoabend wieder, bei dem wir den Verein und die Projektarbeit noch einmal genauer vorstellen. Noch ab derselben Woche besuchst Du unsere Vereinssitzungen. Diese finden jeden Mittwoch um 19.15 Uhr statt. Ab der folgenden Woche steht Dir ein Mentor zur Seite, der Dich in den ersten Wochen als Ansprechpartner bei Fragen und Problemen begleitet. Zu diesem Zeitpunkt startet auch Deine erste Vereinsaufgabe: das sogenannte Aspirantenprojekt. Dieses zweimonatige, interne Projekt ist vom Aufbau an die spätere Projektarbeit angelehnt und bereitet Dich somit optimal auf diese vor. In diesem Zeitraum finden zudem noch vier, für die Projektarbeit verpflichtende, Schulungen statt. In diesen, mit hohem Praxisanteil versehenen Schulungen, wirst Du z.B. Deine Präsentationstechniken verbessern und Dich im angemessenen Auftritt bei zukünftigen Kunden üben können. Hast Du Dich zusätzlich noch durch weitere Vereinsaufgaben und bei internen Events als präsent und verlässlich gezeigt, steht einer Aufnahme als Interessent und damit deinem ersten Projekt nichts mehr im Wege!
                        </p>
                    </span>
        
        <input type="checkbox" id="info8">
                    <label class="info" for="info8">Als Masterstudent einsteigen - lohnt sich das noch? 
                       </label><br/>
                    <span class="info8">
                        <p class="text1">
                       Natürlich lohnt sich das! Gerade als Masterstudent wirst Du das Arbeiten auf hohem Niveau gewohnt sein und bereits mehr Erfahrung mitbringen. Das erleichtert Dir den Einstieg und kann Dir so z.B. früher die Mitarbeit bei Projekten ermöglichen. Bedenken solltest Du, dass es aufgrund der kürzeren Reststudienzeit schwerer wird, alle Karrierestufen zu durchlaufen. Die Vergangenheit hat gezeigt, dass es dennoch möglich ist. In jedem Fall wirst du viel durch die Zeit bei Junior Comtec lernen und für dein Berufsleben mitnehmen können.
                        </p>
                    </span>
        
        <input type="checkbox" id="info9">
                    <label class="info" for="info9">Wie lange dauert es, bis ich bei externen Projekten mitarbeiten kann?
                       </label><br/>
                    <span class="info9">
                        <p class="text1">
                       Etwa drei Monate nach der Aufnahme als Aspirant ist das Aspirantenprojekt abgeschlossen und Dein erstes Personalgespräch findet statt. Sofern Du Deinen Aufgaben während der Aspirantenzeit mit Sorgfalt nachgekommen bist und am Vereinsleben teilgenommen hast, wirst Du als Interessent aufgenommen. Ab sofort kannst Du Dich auch für externe Projekte melden und Erfahrung sammeln.
                        </p>
                    </span>
        
        <input type="checkbox" id="info10">
                    <label class="info" for="info10">Ich habe keine Erfahrungen in der Projektarbeit - ist das schlimm?
                       </label><br/>
                    <span class="info10">
                        <p class="text1">
                       Nein keineswegs! Um ein Gefühl für die Projektarbeit in externen Projekten zu erhalten, werden Dir die wichtigsten Aspekte bereits während Deiner ca.dreimonatigen Aspirantenzeit in einem internen Projekt vermittelt. Neben der Vorbereitung durch unsere vier Pflichtschulungen bieten wir unseren Mitgliedern regelmäßig anspruchsvolle Workshops an. Diese werden unter anderem durch unsere externen Partner, zu denen renommierte hauptberufliche Beratungen zählen, und unser Ehemaligennetzwerk ermöglicht. Durch internen Wissenstransfer kannst Du zusätzlich stets von erfahreneren Mitgliedern lernen oder Dein Wissen an andere weitergeben.
                        </p>
                    </span>
        
        <input type="checkbox" id="info11">
                    <label class="info" for="info11">Welche Projekte erwarten mich bei Junior Comtec? 
                       </label><br/>
                    <span class="info11">
                        <p class="text1">
                       Unser Produktportfolio deckt jede erdenkliche Branche ab und bietet Dir damit vielseitige Einblicke in die Unternehmenswelt. Daher erwarten Dich je nach Projekt die unterschiedlichsten Problemstellungen. Dazu gehören zum Beispiel Marktpotentialanalysen, Prozessoptimierungen oder Projekte zur strategischen Ausrichtung des Unternehmens. Externe Projekte kannst Du ab dem Interessentenstatus durchführen. Die Projekte werden von jedem Team eigenständig geplant und sind in ihrem zeitlichen Umfang von Projekt zu Projekt verschieden. Alle Projekte bieten Dir die Möglichkeit, wertvolle Praxiserfahrungen außerhalb des Hörsaals zu sammeln und Kontakte mit Unternehmen zu knüpfen. 
                        </p>
                    </span>
        
        <input type="checkbox" id="info12">
                    <label class="info" for="info12">Wer sind die Auftraggeber der Projekte?
                       </label><br/>
                    <span class="info12">
                        <p class="text1">
                       Zu unseren Auftraggebern gehören Unternehmen jeglicher Größe – von kleinen Start-Ups bis hin zu DAX-Konzernen. Viele, aber nicht alle, unserer Auftraggeber haben einen Standort in der näheren Umgebung und dem Rhein-Main-Gebiet. Wenn du mehr zu bisherigen Projekten und Auftraggebern wissen möchtest, empfiehlt sich ein Blick auf unsere Internetseite: www.junior-comtec.de.
                        </p>
                    </span>
        
        <input type="checkbox" id="info13">
                    <label class="info" for="info13">Wie sieht eine typische Vereinsaufgabe aus?
                       </label><br/>
                    <span class="info13">
                        <p class="text1">
                       Der Verein und seine Weiterentwicklung wird hauptsächlich durch Vereinsaufgaben vorangetrieben. Die Durchführung einer solchen Aufgabe orientiert sich am Ablauf und an der Arbeitsweise eines externen Projektes. Jedes Aufgabenteam besteht aus einem Aufgabenleiter und einer entsprechenden Anzahl an Mitgliedern. Auch unsere Vereinsaufgaben zeichnen sich durch ihre Vielfalt aus. Mögliche Aufgaben sind Beispielsweise die Erstellung einer Wirtschaftsschulung, das Halten einer Kurzpräsentation, die Planung eines Strategiewochenendes oder die Organisation der jährlichen Weihnachtsfeier.
                        </p>
                    </span>
        
        <input type="checkbox" id="info14">
                    <label class="info" for="info14">Welchen Stellenwert hat die Vereinsarbeit? 
                       </label><br/>
                    <span class="info14">
                        <p class="text1">
                       Ohne Vereinsarbeit wären das Bestehen von Junior Comtec und die Durchführung von Projekten nicht möglich. Deshalb ist die kontinuierliche Vereinsarbeit unerlässlich. Durch ein reges Vereinsleben entwickelt sich jedoch nicht nur der Verein weiter, sondern jedes Mitglied bekommt die Möglichkeit, seine individuellen Fähigkeiten zu entdecken bzw. auszubauen. So kannst Du z.B. in regelmäßigen Präsentationen Dein Auftreten verbessern oder bei einer Vereinsaufgabe Führungsverantwortung wahrnehmen. Des Weiteren sind wir stets bemüht, unser aktuelles Wissen an alle Mitglieder in Form von internen Workshops weiterzugeben.
                        </p>
                    </span>
        
        <input type="checkbox" id="info15">
                    <label class="info" for="info15">Was erwartet mich darüber hinaus im Verein? 
                       </label><br/>
                    <span class="info15">
                        <p class="text1">
                      Eine Menge Spaß und hochmotivierte Studenten! Als Hochschulgruppe möchten wir ebenso die Studienzeit in gemeinsamen Events genießen. So veranstalten wir regelmäßig wechselnde Events wie Squashturniere, Escape Room oder Brauereibesichtigungen, um den Zusammenhalt zu stärken. Auch nach den Vereinssitzungen kommen gemeinsames Grillen oder das gemütliches Zusammensitzen nicht zu kurz. Zudem findet jedes Semester ein Strategiewochenende statt. Dort werden in angenehmer Atmosphäre aktuelle Themen zur strategischen Weiterentwicklung des Vereins diskutiert. Den Höhepunkt stellt dabei die jeden Winter stattfindende Fahrt in die französischen Alpen nach La Clusaz dar, wo wir zu aktuellen Themen Workshops und Schulungen halten.
                        </p>
                    </span>
        
        
        
       
        
        
        
        
        
        

            

     </div>
</section>
