input {
position: absolute;
visibility: hidden;
}
label {
 text-align: left; 
} 
label.info:hover {
}
span {
display: none;
padding: 1em;
    text-decoration:none;
    text-align: justify;
    line-height: 1.5em;
    font-weight: normal;
}
input#info1:checked ~ span.info1,
input#info2:checked ~ span.info2,
input#info3:checked ~ span.info3,
input#info4:checked ~ span.info4,
input#info5:checked ~ span.info5,
input#info6:checked ~ span.info6,
input#info7:checked ~ span.info7,
input#info8:checked ~ span.info8,
input#info9:checked ~ span.info9,
input#info10:checked ~ span.info10,
input#info11:checked ~ span.info11,
input#info12:checked ~ span.info12,
input#info13:checked ~ span.info13,
input#info14:checked ~ span.info14,
input#info15:checked ~ span.info15 {
display: block;
}

<section class="item about">
    <div class="container">
           
                <!--<p class="text-muted"> FAQ </p>-->
                <h1>Frequently Asked Questions</h1>
                <!--<p class="third">Frequently Asked Questions</p>-->


                <input type="checkbox" id="info1">
                    <label class="info" for="info1">Was versteht man unter einer studentischen Unternehmensberatung?
                       </label><br/>
                    <span class="info1">
                        <p class="text1">
                        Wie der Name schon sagt, sind wir eine ausschließlich von Studenten getragene Unternehmensberatung im universitären Umfeld. Wir verstehen uns als Studentenvereinigung, die erkannt hat, dass universitäres Wissen allein nicht ausreicht. Unseren Kunden bieten wir professionelle Beratungsprojekte an, auf denen unsere Mitglieder wertvolle Praxiserfahrung sammeln. Als älteste, deutsche studentische Unternehmensberatung steht Junior Comtec für mehr als nur Beratungsleistungen. Einen gleichbedeutenden Teil von Junior Comtec bildet das Vereinsleben. Dabei stehen das Stärken der eigenen Fähigkeiten in internen und externen Workshops sowie die Weiterentwicklung des Vereins im Vordergrund.. Neben professionellen Beratungsprojekten und engagierter Vereinsarbeit, ist auch das soziale Miteinander eine zentrale Säule von Junior Comtec. So wird der Teamgeist regelmäßig durch Stammtische, Events und Ausflüge gestärkt. Als besondere Highlights müssen definitiv die halbjährlichen Strategiewochenenden genannt werden, bei denen wir gemeinsam für 2-4 Tage verreisen, um über die Zukunft des Vereins zu diskutieren und einander fernab des Unistresses besser kennenzulernen.
                        </p>
                    </span>
                
                <input type="checkbox" id="info2">
                    <label class="info" for="info2">Welche Fachbereiche sind bei Junior Comtec vertreten?
                       </label><br/>
                    <span class="info2">
                        <p class="text1">
                        Der Großteil unserer Mitglieder studiert Wirtschaftsingenieurwesen an der TU Darmstadt. Auch Studierende anderer Fakultäten wie z.B. Maschinenbau, Elektrotechnik, Informatik, Mathematik, Physik, Psychologie oder Pädagogik engagieren sich seit Jahren bei uns. Neben Studenten der TU Darmstadt haben ebenfalls Studierende anderer Hochschulen den Weg zu uns gefunden. Wir sind davon überzeugt, dass diese Interdisziplinarität der Mitglieder ein entscheidender Erfolgsfaktor des Vereins und vor allem der Projektarbeit ist. Folglich sind grundsätzlich alle Studierenden herzlich willkommen! 
                        </p>
                    </span>

            

     </div>
</section>
