<footer id="footerWrapper">
    <section id="mainFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="footerWidget">
                        <img src="<%= image_path('/images/juniorcomtec-grau.png') %>" class="image-responsive" style="width: 100%; height: auto; " alt="">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="footerWidget">
                        <i class="icon-clock-1"></i>
                        <span class="footerText">
                        <b>B&uuml;rozeiten:</b>
                        <br> Mo-Fr: 11:00 - 12:00
                        <br> S202 12 (Schaut vorbei) 
                      </span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="footerWidget">
                        <i class="icon-phone"></i>
                        <span class="footerText">
                      <b>Telefon / Fax:</b>
                      <br> +49 6151 28614
                      <br> +49 6151 28405
                    </span>
                    </div>
                </div>             
                <div class="col-md-3 col-sm-3 col-xs-6 col-sm-offset-0 col-xs-offset-6">
                    <div class="footerWidget">
                        <i class="icon-location"></i>
                        <span class="footerText">
                      <b>Adresse:</b>
                      <br> Karolinenplatz 5
                      <br> 64289 Darmstadt
                    </span>
                    </div>
                </div>            
            </div>
            <ul class="footerlist" style="padding-left: 0px; margin:20 0;">
                <li><%= link_to 'Impressum', '/impressum.html' %>
                </li>
            </ul>
        </div>
    </section>
</footer>
