<footer id="footerWrapper">
    <section id="mainFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="footerWidget">
                        <h3><a href="http://www.junior-comtec-ev.de/">Du bist Unternehmer?</a></h3>
                        <p>Du bist auf der Suche nach neuen Herausforderungen und möchtest gerne Verantwortung in anspruchsvollen Beratungsprojekten übernehmen? Zu deinen Stärken gehören Teamfähigkeit, Einsatzbereitschaft und Durchhaltevermögen? – Dann bist du bei uns genau richtig.</p> <a href="http://www.junior-comtec-ev.de/" class="btn btn-primary"><i class="icon-right-circle"></i>Erfahre mehr!</a></div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="footerWidget">
                        <h3>Presse</h3>
                        <!-- indexer::stop -->
                        <div class="mod_newslist block">
                            <ul class="list-unstyled">
                                <li style="line-height: 18px; list-style-type: disc; margin-bottom: 8px; list-style-position: outside;"><a href="pressemeldung/potenzial-von-shopfloor-management.html" title="Den Artikel lesen: Shopfloor Management - Ein Mittel zur kontinuierlichen Entwicklung von Kompetenzen im Produktionsumfeld">Shopfloor Management - Ein Mittel zur kontinuierlichen Entwicklung von Kompetenzen im Produktionsumfeld</a></li>
                                <li style="line-height: 18px; list-style-type: disc; margin-bottom: 8px; list-style-position: outside;"><a href="pressemeldung/iso-90012015.html" title="Den Artikel lesen: Revision ISO 9001:2015">Revision ISO 9001:2015</a></li>
                                <li style="line-height: 18px; list-style-type: disc; margin-bottom: 8px; list-style-position: outside;"><a href="pressemeldung/studentische-unternehmensberatungen-und-ihre-dachverbaende-31.html" title="Den Artikel lesen: Studentische Unternehmensberatungen und ihre Dachverbände">Studentische Unternehmensberatungen und ihre Dachverbände</a></li>
                                <li style="line-height: 18px; list-style-type: disc; margin-bottom: 8px; list-style-position: outside;"><a href="pressemeldung/industrie-4-0-die-befehle-des-werkstuecks.html" title="Den Artikel lesen: Industrie 4.0 – Die Befehle des Werkstücks">Industrie 4.0 – Die Befehle des Werkstücks</a></li>
                            </ul>
                        </div>
                        <!-- indexer::continue -->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footerWidget" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <h3>Junior Comtec Projektmanagement UG (haftungsbeschränkt)</h3>
                        <address>
                            <p> <i class="icon-location"></i><span itemprop="streetAddress">Rhönring 60</span>
                                <br> D-<span itemprop="postalCode">64289</span> <span itemprop="addressLocality">Darmstadt</span>
                                <br><i class="icon-phone"></i>&nbsp;+49 (0) 6151 154 06 61
                                <br><i class="icon-mail-alt"></i>&nbsp;<a href="mailto:kontakt@junior-comtec.de">kontakt@junior-comtec.de</a></p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footerRights">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="socialNetwork">
                        <li><a target="_blank" href="http://www.xing.com/companies/juniorcomtecdarmstadte.v." title="Xing"><i class="icon-xing iconRounded"></i></a></li>
                        <li><a target="_blank" href="http://plus.google.com/109544407912470550514/posts" title="Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/company/junior-comtec-projektmanagement-ug-haftungsbeschr%C3%A4nkt-" title="LinkedIn"><i class="icon-linkedin-1 iconRounded"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright © 2016 <a href="http://www.junior-comtec.de" target="blank">Junior-Comtec.de</a> / All rights reserved.</p>
                    <p><a href="impressum.html" title="Impressum">Impressum</a></p>
                </div>
            </div>
        </div>
    </section>
</footer>
