<header class="navbar-fixed-top">
    <!-- header -->
    <div id="mainHeader" class="withborder" role="banner">
        <div class="container">
            <!-- indexer::stop -->
            <nav class="mod_navigation navbar navbar-default scrollMenu" role="navigation">
                <div class="navbar-header">
                    <div class="row resp-menu-band">
                        <div class="col-xs-6 col-md-8 menu-custom"><a href="/"><img class="logojcd" src="<%= image_path('/images/logo-studentische-Unternehmensberatung.png') %>" alt="Junior Comtec" /></a></div>
                        <div class="col-xs-6  col-md-4 menu-custom navbar-toggle">
                            <a href="http://www.junior-comtec.de/" target="_blank" class="btn btn-primary btn-sm" style="margin-top: -8px;" data-animation="fadeInRightBig" role="button">Für Unternehmen</a>
                            <a href="https://www.facebook.com/JuniorComtecev/" id="facebook" target="_blank">
                                <i class="icon-facebook-squared" style="font-size:25px" aria-hidden="true"></i></a>
                            </a>
                            <a href="https://twitter.com/juniorcomtec" id="twitter" target="_blank">
                                <i class="icon-twitter-squared iconMedium" style="font-size:25px" aria-hidden="true"></i></a>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="nav navbar-nav pull-right level_1" role="menubar">
                        <li class="sibling">
                            <div class="button-margin">
                                <a href="http://www.junior-comtec.de/" target="_blank" class="btn btn-primary btn-md" data-animation="fadeInRightBig" role="button">Für Unternehmen</a>
                            </div>
                        </li>
                        <li class=" sibling first"> <a href="/#startseite" title="Die Studentische Unternehmensberatung" class="sibling first" role="menuitem">Startseite</a> </li>
                        <li class="sep"></li>
                        <!--Sprungmarke #ÜberUns -->
                        <li class="primary submenu branchen megamenusub sibling"> <a href="/#überuns" title="Über Uns" class="firstLevel hasSubMenu submenu branchen megamenusub sibling" role="menuitem" aria-haspopup="true">Über Uns</a>
                        </li>
                        <li class="sep"></li>
                        <li class="primary submenu funktional megamenusub sibling"> <a href="/#infoabend" title="Termine" class="firstLevel hasSubMenu submenu funktional megamenusub sibling" role="menuitem" aria-haspopup="true">Infoabend</a>
                        </li>
                        <li class="sep"></li>
                        </li>
                        <!-- Sprungmarke #FAQ -->
                        <li class="primary submenu faq megamenusub sibling"> <a href="/#faq" title="FAQ" class="firstLevel hasSubMenu submenu faq megamenusub sibling" role="menuitem" aria-haspopup="true">FAQ</a>
                        </li>
                        <li class="sep"></li>
                        <!-- Button mit Verlinkung zur UG-Homepage -->
                        <li class="sibling">
                            <div class="social-button-margin-facebook">
                                <a href="https://www.facebook.com/JuniorComtecev/" id="facebook" target="_blank">
                                    <i class="icon-facebook-squared" style="font-size:25px" aria-hidden="true"></i>
                                </a>
                            </div>
                        </li>
                        <li class="sibling">
                            <div class="social-button-margin-twitter">
                                <a href="https://twitter.com/juniorcomtec" id="twitter" target="_blank">
                                    <i class="icon-twitter-squared iconMedium" style="font-size:25px" aria-hidden="true"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- indexer::continue -->
        </div>
    </div>
</header>
