<header class="navbar-fixed-top">
    <!-- header -->
    <div id="mainHeader" role="banner">
        <div class="container">
            <!-- indexer::stop -->
            <nav class="mod_navigation navbar navbar-default scrollMenu" role="navigation">
                <div class="navbar-header">
                    <!-- responsive navigation -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                    <!-- Logo -->
                    <a class="navbar-brand" href="/"><img style="height: 30px; width:auto;" src="/images/logo-studentische-Unternehmensberatung.png" alt="Junior Comtec" /></a>
                </div>
                <div class="collapse navbar-collapse" id="mainMenu">
                    <ul class="nav navbar-nav pull-right level_1" role="menubar">
                        <li class=" sibling first"> <a href="startseite.html" title="Die Studentische Unternehmensberatung" class="sibling first" role="menuitem">Startseite</a> </li>
                        <li class="sep"></li>
                        <li class="primary submenu branchen megamenusub sibling"> <a href="branchen.html" title="Branchen" class="firstLevel hasSubMenu submenu branchen megamenusub sibling" role="menuitem" aria-haspopup="true">Branchen</a>
                            <ul class="subMenu level_2" role="menu">
                                <li class=" branchen first"> <a href="automobil.html" title="Automobil" class="branchen first" role="menuitem">Automobil</a> </li>
                                <li class=" branchen"> <a href="chemie-papier-und-baustoffe.html" title="Chemie, Papier und Baustoffe" class="branchen" role="menuitem">Chemie, Papier &amp; Baustoffe</a> </li>
                                <li class=" branchen"> <a href="energie-elektrotechnik.html" title="Energie &amp; Elektrotechnik" class="branchen" role="menuitem">Energie &amp; Elektrotechnik</a> </li>
                                <li class=" branchen"> <a href="kommunikation-medien-technologie.html" title="Kommunikation, Medien &amp; Technologie" class="branchen" role="menuitem">Kommunikation, Medien &amp; Technologie</a> </li>
                                <li class=" branchen"> <a href="maschinen-anlagenbau.html" title="Maschinen- &amp; Anlagenbau" class="branchen" role="menuitem">Maschinen- &amp; Anlagenbau</a> </li>
                                <li class=" branchen"> <a href="oeffentlicher-sektor.html" title="Öffentlicher Sektor" class="branchen" role="menuitem">Öffentlicher Sektor</a> </li>
                                <li class=" branchen"> <a href="pharma-gesundheitswesen.html" title="Pharma &amp; Gesundheitswesen" class="branchen" role="menuitem">Pharma &amp; Gesundheitswesen</a> </li>
                                <li class=" branchen last"> <a href="transport-verkehr.html" title="Transport &amp; Verkehr" class="branchen last" role="menuitem">Transport &amp; Verkehr</a> </li>
                            </ul>
                        </li>
                        <li class="sep"></li>
                        <li class="primary submenu funktional megamenusub sibling"> <a href="beratung.html" title="Beratung" class="firstLevel hasSubMenu submenu funktional megamenusub sibling" role="menuitem" aria-haspopup="true">Beratung</a>
                            <ul class="subMenu level_2" role="menu">
                                <li class=" funktional first"> <a href="analytics-research.html" title="Analytics &amp; Research" class="funktional first" role="menuitem">Analytics &amp; Research</a> </li>
                                <li class=" funktional"> <a href="finanzen-controlling.html" title="Finanzen &amp; Controlling" class="funktional" role="menuitem">Finanzen &amp; Controlling</a> </li>
                                <li class=" funktional"> <a href="it.html" title="IT" class="funktional" role="menuitem">Informationstechnik</a> </li>
                                <li class=" funktional"> <a href="logistik-und-supply-chain.html" title="Logistik und Supply Chain" class="funktional" role="menuitem">Logistik &amp; Supply Chain</a> </li>
                                <li class=" funktional"> <a href="marketing-sales.html" title="Marketing &amp; Sales" class="funktional" role="menuitem">Marketing &amp; Sales</a> </li>
                                <li class=" funktional"> <a href="nachhaltigkeit.html" title="Nachhaltigkeit" class="funktional" role="menuitem">Nachhaltigkeit</a> </li>
                                <li class=" funktional"> <a href="operations.html" title="Operations" class="funktional" role="menuitem">Operations</a> </li>
                                <li class=" funktional"> <a href="personal-organisation.html" title="Personal &amp; Organisation" class="funktional" role="menuitem">Personal &amp; Organisation</a> </li>
                                <li class=" funktional last"> <a href="strategie.html" title="Strategie" class="funktional last" role="menuitem">Strategie</a> </li>
                            </ul>
                        </li>
                        <li class="sep"></li>
                        <li class="primary active submenu activateAppearAnimation"> <a href="ueber-uns.html" title="Über Uns - die studentischen Berater" class="active firstLevel hasSubMenu active submenu activateAppearAnimation" role="menuitem" aria-haspopup="true">Über Uns</a>
                            <ul class="subMenu level_2" role="menu">
                                <li class=" first"> <a href="qualitaetsmanagement.html" title="Qualitätsmanagement" class="first" role="menuitem">Qualitätsmanagement</a> </li>
                                <li class=" "> <a href="geschaeftsfuehrung.html" title="Geschäftsführung" class="" role="menuitem">Geschäftsführung</a> </li>
                                <li class=" "> <a href="projektmanagement.html" title="Projektmanagement" class="" role="menuitem">Projektmanagement</a> </li>
                                <li class=" "> <a href="partner.html" title="Partner" class="" role="menuitem">Partner</a> </li>
                                <li class=" last"> <a href="das-original.html" title="Das Original" class="last" role="menuitem">Das Original</a> </li>
                            </ul>
                        </li>
                        <li class="sep"></li>
                        <li class=" sibling"> <a href="presse.html" title="Presse" class="sibling" role="menuitem">Presse</a> </li>
                        <li class="sep"></li>
                        <li class=" sibling last"> <a href="projektanfrage.html" title="Kontakt zu Junior Comtec" class="sibling last" role="menuitem">Kontakt</a> </li>
                        <li class="sep"></li>
                    </ul>
                </div>
            </nav>
            <!-- indexer::continue -->
        </div>
    </div>
</header>
