<section id="infoabend">
    <div class="container">
        <div class="row">
            <div class="pt40 pb40 col-md-12">
               <!-- <img src="/images/infoabend.jpg" alt="infoabend" style="display: block; margin-left: auto; margin-right: auto;" width="60%" /> -->
                <h1 style="text-align: center;"><span style="font-weight: normal;">INFO</span>ABEND - <span id="date"><span class="day">XX</span>.<span class="mon">XX</span>.<span class="year">20XX</span></span><span> - 19:00 Uhr</span>  </h1> 
                 <div class="countDown container">
                  <!-- <div id="countDown" class="row">
                        <div class="col-xs-3 center">
                            <div class="times ds">00</div>
                            <div class="title">TAGE</div>
                        </div>
                        <div class="col-xs-3 center">
                            <div class="times hrs">00</div>
                            <div class=" title">STD</div>
                        </div>
                        <div class="col-xs-3 center">
                            <div class="times min">00</div>
                            <div class=" title">MIN</div>
                        </div>
                        <div class="col-xs-3 center">
                            <div class="times sec">00</div>
                            <div class=" title">SEK</div>
                        </div>
                    </div> -->
                    <div class="row"> 
                    </div>
                </div>
                   <!-- <p class="info">Wenn du mehr über uns und unsere Arbeit erfahren willst, dann komm zu unserem Infoabend!</p> -->
                <p class="info">Sende eine Mail an <span class="mail"><a href="mailto:mitmachen@junior-comtec.de">„mitmachen@junior-comtec.de“</a></span>, um dich für den Infoabend anzumelden.</p>
            </div>
        </div>
    </div>
</section>
