<!-- ======================================= content ======================================= -->
<section id="startseite">
  <div class="container" style="padding: 0 0 0 0;">
      <div class="title">
          <div class="titleimg" style="background: url(<%= image_path('/images/Header.jpg') %>); background-size: cover;background-position: center;">
          </div>
      </div>
  </div>
</section>
