<!-- slider -->
<section id="homeFlex">
    <div class="flexslider flexFullScreen">
        <ul class="slides sliderWrapper">
            <li class="slideN0">
                <img src="images/slider/flex/flex-slide1.jpg" alt="pic 1" />
                <div class="caption right">
                    <div class="element1-1" data-animation="fadeInRightBig">
                        <h1>Seattle, Premium Website Template</h1>
                    </div>
                    <div class="element1-2" data-animation="fadeInRightBig">
                        <h2>Clean design, smart HTML and JS code</h2>
                    </div>
                    <div class="element1-2" data-animation="fadeInLeftBig">
                        <h2>Cleasdasdcode</h2>
                    </div>
                    <div class="element1-3  hidden-xs" data-animation="fadeInRightBig">
                        <p>Loaded with exclusive Neko CSS Framework features and a couple of great plugins that extends the power of Boostrap 3</p>
                    </div>
                    <div class="element1-4" data-animation="fadeInRightBig"><a href="#" class="btn btn-primary">Get started now!</a></div>
                </div>
            </li>
            <li class="slideN0"> <img src="images/slider/flex/flex-slide1.jpg" alt="pic 1" />
                <div class="caption left">
                    <div class="element3-1" data-animation="fadeInLeftBig">
                        <h1>SEO optimized, clean structure</h1>
                    </div>
                    <div class="element3-2" data-animation="fadeInLeftBig">
                        <h2>Well organized and documented</h2>
                    </div>
                    <div class="element3-3" data-animation="fadeInRightBig"><a href="#" class="btn btn-primary">Read more</a></div>
                </div>
            </li>
        </ul>
    </div>
</section>
