<section id="paralaxSlice" data-stellar-background-ratio="0.5">
    <div class="maskParent" style="background: url('/images/beraterprofil-hintergrund.jpg'); background-size:cover !important;">
        <div class="paralaxMask" > </div>
        <div class="paralaxText container">
            <div class="row">
                <div class="owl-carousel nekoDataOwl" data-neko_autoplay="9000" data-neko_navigation="false" data-neko_items="1" data-neko_singleitem="true" data-neko_pagination="false">
                    <article class="item container">
                        <div class="row">
                            <div class="col-md-2 col-md-offset-2" ><img src="<%= image_path('/images/robert.jpg') %>" class="img-circle" alt="client"></div>
                            <div class="col-md-6" style="padding-top: 25px">
                                <p><i> "Durch Junior Comtec konnte ich die einmalige Gelegenheit nutzen, mich persönlich und fachlich weiter zu entwicklen und dabei auch noch so viel Spaß zu haben."</i>
                                    <br/><small>Robert Feldmann, Project Manager bei Junior Comtec <br>Wirtschaftsingenieurstudent</small></p>
                            </div>
                        </div>
						<br>
						<div class="row">
                            <div class="col-md-2 col-md-offset-2" ><img src="<%= image_path('/images/kai.jpg') %>" class="img-circle" alt="client"></div>
                            <div class="col-md-6" style="padding-top: 25px">
                                <p><i> "Ich habe gelernt, meine Zeit effizient einzuteilen und mit Excel richtig zu arbeiten. Darüber hinaus trifft man bei Junior Comtec eine große Menge an netten Leuten."</i>
                                    <br/><small>Kai Wöllstein, Interessent bei Junior Comtec <br>Wirtschaftswissenschaftenstudent</small></p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
</section>
