<%= partial "header" %>
<!-- ======================================= content ======================================= -->
<section id="mainFooter" style="background-color:#F5F5F5;">
</br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1> Impressum </h1>

      <p>Angaben gemäß § 5 TMG:</p>
      <p><span style="font-weight:bold;">Junior Comtec Darmstadt e.V.</span></br>
        Studentische Unternehmensberatung</p>
        <p>c/o Technische Universität Darmstadt</br>
          Postfach 1444</br>
          Karolinenplatz 5</br>
          64289 Darmstadt</br></p>
        <h1>Kontakt</h1>
        <table style="width: 100%;">
          <tbody>
            <tr>
              <td>E-Mail:</td>
              <td style="padding-left: 20px;">info@junior-comtec.de</td>
            </tr>
            <tr>
              <td>Telefon:</td>
              <td style="padding-left: 20px;">+49 6151 28614</td>
            </tr>
            <tr>
              <td>Fax:</td>
              <td style="padding-left: 20px;">+49 6151 28405</td>
            </tr>
          </tbody>
        </table>
        </br>
        <h1>Vorstand</h1>
        <p><span style="font-weight:bold;">Leon Heinrichsbauer</span> (Vorstand für Personal, 1. Vorsitzender)</p>
        <p><span style="font-weight:bold;">Thomas Kretschmar</span> (Vorstand für Qualitätsmanagement, 2. Vorsitzender)</p>
        <p><span style="font-weight:bold;">Hannes Martin</span> (Vorstand für Finanzen & Recht, Kassenwart)</p>
        <h1>Vereinsregister</h1>
        <p>Registergericht: Amtsgericht Darmstadt</p>
        <p>Registernummer: VR 2046</p>
        </br></br>
      </div>
      <div class="col-md-8">
        <h1> Haftungsauschluss </h1>
        <p><span style="font-weight:bold;">Haftung für Inhalte</span></p>
        <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
        <p><span style="font-weight:bold;">Haftung für Links</span></p>
        <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
        <p><span style="font-weight:bold;">Urheberrecht</span></p>
        <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
        <p>Quelle: <i><a href="http://www.e-recht24.de" target="_blank" onclick="__gaTracker('send', 'event', 'outbound-article', 'http://www.e-recht24.de', 'http://www.e-recht24.de');">http://www.e-recht24.de</a>, Impressum Generator</i></p>
      </p>
    </div>
  </div>
</div>
</section>


<%= partial "footer" %>
