<%= partial "header" %>
<!-- ======================================= content ======================================= -->
<section id="mainFooter" style="background-color:#F5F5F5;">
  </br>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Datenschutzhinweis</h2>
        <h3>1	Name und Anschrift des Verantwortlichen</h3>
        <p>Verantwortlicher im Sinne der Datenschutz-Grundverordnung, sonstiger in den Mitgliedstaaten der Europäischen Union geltenden Datenschutzgesetze und anderer Bestimmungen mit datenschutzrechtlichem Charakter ist die:
          <br>
          Junior Comtec Darmstadt e.V. <br>
Studentische Unternehmensberatung <br>
c/o Technische Universität Darmstadt<br>
Postfach 1444<br>
Karolinenplatz 5<br>
64289 Darmstadt<br>
E-Mail: info@junior-comtec.de<br>
Telefon: +49 6151 28614<br>
Fax: +49 6151 28405<br>
Webseite: http://www.junior-comtec-ev.de/ <br>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>2	Name und Anschrift des Datenschutzbeauftragten</h3>
        <p>Derzeit besteht für die verantwortliche Stelle keine Verpflichtung, einen Datenschutzbeauftragten zu benennen. Jede betroffene Person kann sich jederzeit bei allen Fragen und Anregungen zum Datenschutz unter den oben genannten Kontaktdaten
          direkt an uns wenden.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>3	Begriffsbestimmungen</h3>
        <p>Der Datenschutzhinweis von Junior Comtec Projektmanagement UG (haftungsbeschränkt) beruht auf den definierten Begriffen der Datenschutz-Grundverordnung (DSGVO). Unser Datenschutzhinweis soll einfach lesbar und verständlich sein.
          Um dies zu gewährleisten, erläutern wir vorab die verwendeten Begriffe:</p>
        <h4>3.1	Personenbezogene Daten</h4>
        <p>Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden „betroffene Person“) beziehen. Als identifizierbar wird eine natürliche Person angesehen, die
          direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen, die Ausdruck der physischen,
          physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind, identifiziert werden kann.</p>
        <h4>3.2	Betroffene Person</h4>
        <p>Betroffene Person ist jede identifizierte oder identifizierbare natürliche Person, deren personenbezogenen Daten von dem für die Verarbeitung Verantwortlichen verarbeitet werden.</p>
        <h4>3.3	Verarbeitung</h4>
        <p>Verarbeitung ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführte Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten wie das Erheben, das Erfassen, die Organisation, das Ordnen, die
          Speicherung, die Anpassung oder Veränderung, das Auslesen, das Abfragen, die Verwendung, die Offenlegung durch Übermittlung, Verbreitung oder eine andere Form der Bereitstellung, den Abgleich oder die Verknüpfung, die Einschränkung,
          das Löschen oder die Vernichtung.</p>
        <h4>3.4	Einschränkung der Verarbeitung</h4>
        <p>Einschränkung der Verarbeitung ist die Markierung gespeicherter personenbezogener Daten mit dem Ziel, ihre künftige Verarbeitung einzuschränken.</p>
        <h4>3.5	Profiling</h4>
        <p>Profiling ist jede Art der automatisierten Verarbeitung personenbezogener Daten, die darin besteht, dass diese personenbezogenen Daten verwendet werden, um bestimmte persönliche Aspekte, die sich auf eine natürliche Person beziehen,
          zu bewerten, insbesondere, um Aspekte bezüglich Arbeitsleistung, wirtschaftlicher Lage, Gesundheit, persönlicher Vorlieben, Interessen, Zuverlässigkeit, Verhalten, Aufenthaltsort oder Ortswechsel dieser natürlichen Person zu analysieren
          oder vorherzusagen.</p>
        <h4>3.6	Pseudonymisierung</h4>
        <p>Pseudonymisierung ist die Verarbeitung personenbezogener Daten in einer Weise, auf welche die personenbezogenen Daten ohne Hinzuziehung zusätzlicher Informationen nicht mehr einer spezifischen betroffenen Person zugeordnet werden
          können, sofern diese zusätzlichen Informationen gesondert aufbewahrt werden und technischen und organisatorischen Maßnahmen unterliegen, die gewährleisten, dass die personenbezogenen Daten nicht einer identifizierten oder identifizierbaren
          natürlichen Person zugewiesen werden.</p>
        <h4>3.7	Verantwortlicher oder für die Verarbeitung Verantwortlicher</h4>
        <p>Verantwortlicher oder für die Verarbeitung Verantwortlicher ist die natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von
          personenbezogenen Daten entscheidet. Sind die Zwecke und Mittel dieser Verarbeitung durch das Unionsrecht oder das Recht der Mitgliedstaaten vorgegeben, so kann der Verantwortliche beziehungsweise können die bestimmten Kriterien
          seiner Benennung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten vorgesehen werden.</p>
        <h4>3.8	Auftragsverarbeiter</h4>
        <p>Auftragsverarbeiter ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, die personenbezogene Daten im Auftrag des Verantwortlichen verarbeitet.</p>
        <h4>3.9	Empfänger</h4>
        <p>Empfänger ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle, der personenbezogene Daten offengelegt werden, unabhängig davon, ob es sich bei ihr um einen Dritten handelt oder nicht. Behörden, die
          im Rahmen eines bestimmten Untersuchungsauftrags nach dem Unionsrecht oder dem Recht der Mitgliedstaaten möglicherweise personenbezogene Daten erhalten, gelten jedoch nicht als Empfänger.</p>
        <h4>3.10	Dritter</h4>
        <p>Dritter ist eine natürliche oder juristische Person, Behörde, Einrichtung oder andere Stelle außer der betroffenen Person, dem Verantwortlichen, dem Auftragsverarbeiter und den Personen, die unter der unmittelbaren Verantwortung
          des Verantwortlichen oder des Auftragsverarbeiters befugt sind, die personenbezogenen Daten zu verarbeiten.</p>
        <h4>3.11	Einwilligung</h4>
        <p>Einwilligung ist jede von der betroffenen Person freiwillig für den bestimmten Fall in informierter Weise und unmissverständlich abgegebene Willensbekundung in Form einer Erklärung oder einer sonstigen eindeutigen bestätigenden Handlung,
          mit der die betroffene Person zu verstehen gibt, dass sie mit der Verarbeitung der sie betreffenden personenbezogenen Daten einverstanden ist.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>4	Allgemeines zur Datenverarbeitung</h3>
        <p>Datenschutz, Datensicherheit und Geheimnisschutz haben für Junior Comtec Projektmanagement UG (haftungsbeschränkt) (nachfolgend auch Junior Comtec genannt) hohe Priorität. Der dauerhafte Schutz Ihrer personenbezogenen Daten, Ihrer
          Unternehmensdaten und Ihrer Betriebsgeheimnisse ist uns besonders wichtig.
          <br>
          <br> Sie können unsere Website grundsätzlich besuchen, ohne Angaben zu Ihrer Person zu machen. Sofern Sie jedoch Leistungen unseres Unternehmens über unsere Website in Anspruch nehmen, macht dies die Angabe Ihrer personenbezogenen
          Daten erforderlich. In der Regel verwenden wir die von Ihnen mitgeteilten und von der Website erhobenen Daten und bei der Nutzung gespeicherten Daten ausschließlich zu eigenen Zwecken, nämlich zur Durchführung und Bereitstellung
          unserer Website und Anbahnung, Durchführung und Abwicklung der über die Website angebotenen Services/Angebote (Vertragserfüllung) und geben diese nicht an außenstehende Dritte weiter, sofern hierzu keine behördlich angeordnete
          Verpflichtung besteht. In allen anderen Fällen holen wir Ihre gesonderte Einwilligung ein.
          <br>
          <br> Die Verarbeitung Ihrer personenbezogenen Daten erfolgt im Einklang mit den Anforderungen der Datenschutz-Grundverordnung und in Übereinstimmung mit den für Junior Comtec geltenden landesspezifischen Datenschutzbestimmungen. Mittels
          dieses Datenschutzhinweises möchten wir Sie über Art, Umfang und Zweck der von uns verarbeiteten personenbezogenen Daten informieren. Darüber hinaus klären wir Sie mittels dieses Datenschutzhinweis über die ihnen zustehenden Rechte
          auf.
          <br>
          <br> Junior Comtec hat technische und organisatorische Maßnahmen umgesetzt, um einen angemessenen Schutz der über diese Website verarbeiteten personenbezogenen Daten sicherzustellen. Dennoch können internetbasierte Datenübertragungen
          grundsätzlich Sicherheitslücken aufweisen, sodass kein absoluter Schutz gewährleistet werden kann.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>5	Erfassung von allgemeinen Daten und Informationen</h3>
        <p>Die Website von Junior Comtec erfasst mit jedem Aufruf der Website durch eine betroffene Person oder ein automatisiertes System eine Reihe von allgemeinen Daten und Informationen. Diese allgemeinen Daten und Informationen werden
          in den Logfiles des Servers gespeichert. Erfasst werden können die (1) verwendeten Browsertypen und Versionen, (2) das vom zugreifenden System verwendete Betriebssystem, (3) die Website, von welcher ein zugreifendes System auf
          unsere Website gelangt (sogenannte Referrer), (4) die Unterwebseiten, welche über ein zugreifendes System auf unserer Website angesteuert werden, (5) das Datum und die Uhrzeit eines Zugriffs auf die Website, (6) eine Internet-Protokoll-Adresse
          (IP-Adresse), (7) der Internet-Service-Provider des zugreifenden Systems und (8) sonstige ähnliche Daten und Informationen, die der Gefahrenabwehr im Falle von Angriffen auf unsere informationstechnologischen Systeme dienen.
          <br>
          <br> Bei der Nutzung dieser allgemeinen Daten und Informationen zieht Junior Comtec keine Rückschlüsse auf die betroffene Person. Diese Informationen werden vielmehr benötigt, um (1) die Inhalte unserer Website korrekt auszuliefern,
          (2) die Inhalte unserer Website sowie die Werbung für diese zu optimieren, (3) die dauerhafte Funktionsfähigkeit unserer informationstechnologischen Systeme und der Technik unserer Website zu gewährleisten sowie (4) um Strafverfolgungsbehörden
          im Falle eines Cyberangriffes die zur Strafverfolgung notwendigen Informationen bereitzustellen. Diese anonym erhobenen Daten und Informationen werden durch Junior Comtec daher einerseits statistisch und ferner mit dem Ziel ausgewertet,
          den Datenschutz und die Datensicherheit in unserem Unternehmen zu erhöhen, um letztlich ein optimales Schutzniveau für die von uns verarbeiteten personenbezogenen Daten sicherzustellen. Die anonymen Daten der Server-Logfiles werden
          getrennt von allen durch eine betroffene Person angegebenen personenbezogenen Daten gespeichert.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>6	Kontaktformular und E-Mail-Kontakt</h3>
        <p>Auf unserer Internetseite ist ein Kontaktformular vorhanden, welches für die elektronische Kontaktaufnahme genutzt werden kann. Nimmt ein Nutzer diese Möglichkeit wahr, so werden die in der Eingabemaske eingegebenen Daten an uns
          übermittelt und gespeichert. Diese Daten sind:
          <br>
          <ul>
            <li>Firma</li>
            <li>Ansprechpartner</li>
            <li>E-Mail-Adresse</li>
            <li>Telefonnummer</li>
            <li>Grund der Anfrage (Auswahl)</li>
            <li>Details</li>
          </ul>
          <br> Bei den mit * markierten Feldern handelt es sich um Pflichtangaben.
          <br> Im Zeitpunkt der Absendung der Nachricht werden zudem folgende Daten gespeichert:
          <br>
          <ul>
            <li>Die IP-Adresse des Nutzers</li>
            <li>Datum und Uhrzeit der Absendung</li>
          </ul>
          <br> Alternativ ist eine Kontaktaufnahme über die bereitgestellte E-Mail-Adresse möglich. In diesem Fall werden die mit der E-Mail übermittelten personenbezogenen Daten des Nutzers gespeichert.
          <br>
          <br> Es erfolgt in diesem Zusammenhang keine Weitergabe der Daten an Dritte. Die Daten werden ausschließlich für die Verarbeitung der Konversation verwendet und gelöscht, sobald sie nicht mehr benötigt werden.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>7	Datenschutz bei Bewerbungen und im Bewerbungsverfahren</h3>
        <p>Wir erheben und verarbeiten personenbezogene Daten von Bewerbern zum Zwecke der Abwicklung des Bewerbungsverfahrens. Die Verarbeitung kann auch auf elektronischem Wege erfolgen. Dies ist insbesondere dann der Fall, wenn ein Bewerber
          entsprechende Bewerbungsunterlagen auf dem elektronischen Wege, beispielsweise per E-Mail, an uns übermittelt. Schließen wir einen Anstellungsvertrag mit Ihnen als Bewerber, werden die übermittelten Daten zum Zwecke der Abwicklung
          des Beschäftigungsverhältnisses unter Beachtung der gesetzlichen Vorschriften gespeichert. Wird von dem für die Verarbeitung Verantwortlichen kein Anstellungsvertrag mit dem Bewerber geschlossen, so werden die Bewerbungsunterlagen
          sechs Monate nach Bekanntgabe der Absageentscheidung gelöscht, sofern einer Löschung keine sonstigen berechtigten Interessen des für die Verarbeitung Verantwortlichen entgegenstehen. Sonstiges berechtigtes Interesse in diesem Sinne
          ist beispielsweise eine Beweispflicht in einem Verfahren nach dem Allgemeinen Gleichbehandlungsgesetz (AGG).</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>8	Cookies</h3>
        <h4>8.1 Beschreibung und Umfang der Datenverarbeitung</h4>
        <p>Unsere Website verwendet Cookies. Bei Cookies handelt es sich um Textdateien, die im Internetbrowser bzw. vom Internetbrowser auf dem Computersystem des Nutzers gespeichert werden. Ruft ein Nutzer eine Webseite auf, so kann ein Cookie
          auf dem Betriebssystem des Nutzers gespeichert werden. Dieser Cookie enthält eine charakteristische Zeichenfolge, die eine eindeutige Identifizierung des Browsers beim erneuten Aufrufen der Webseite ermöglicht.
          <br>
          <br> Wir setzen Cookies ein, um unsere Website nutzerfreundlicher zu gestalten. Einige Elemente unserer Internetseite erfordern es, dass der aufrufende Browser auch nach einem Seitenwechsel identifiziert werden kann.
          <br> In den Cookies werden dabei folgende Daten gespeichert und übermittelt:
          <br>
          <li>Spracheinstellungen</li>
          <li>Artikel in einem Warenkorb</li>
          <li>Log-In-Informationen</li>
          <br> Wir verwenden auf unserer Website darüber hinaus Cookies, die eine Analyse des Surfverhaltens der Nutzer ermöglichen.
          <br> Auf diese Weise können folgende Daten übermittelt werden:
          <br>
          <br>
          <li>Eingegebene Suchbegriffe</li>
          <li>Häufigkeit von Seitenaufrufen</li>
          <li>Inanspruchnahme von Website-Funktionen</li>
          <br> Die auf diese Weise erhobenen Daten der Nutzer werden durch technische Vorkehrungen pseudonymisiert. Daher ist eine Zuordnung der Daten zum aufrufenden Nutzer nicht mehr möglich. Die Daten werden nicht gemeinsam mit sonstigen
          personenbezogenen Daten der Nutzer gespeichert.
          <br>
          <br> Beim Aufruf unserer Website werden die Nutzer durch einen Infobanner über die Verwendung von Cookies zu Analysezwecken informiert und auf diesen Datenschutzhinweis verwiesen. Es erfolgt in diesem Zusammenhang auch ein Hinweis
          darauf, wie die Speicherung von Cookies in den Browsereinstellungen unterbunden werden kann.
          <br>
          <br> Unter den folgenden Links können Sie sich informieren, wie Sie die Cookies bei den wichtigsten Browsern deaktivieren können:
          <br>
          <br> <a href="https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen">Mozilla Firefox</a>
          <br> <a href="https://support.google.com/accounts/answer/61416?hl=de">Chrome browser</a>
          <br> <a href="https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a>
          <br>
          <br> Beim Aufruf unserer Website wird der Nutzer über die Verwendung von Cookies zu Analysezwecken informiert und seine <b>Einwilligung</b> zur Verarbeitung der in diesem Zusammenhang verwendeten personenbezogenen Daten eingeholt.
          In diesem Zusammenhang erfolgt auch ein Hinweis auf diesen Datenschutzhinweis.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>9 Datenschutzbestimmungen zu Einsatz und Verwendung von Google Analytics (mit Anonymisierungsfunktion)</h3>
        <p>Wir haben auf dieser Website die Komponente Google Analytics (mit Anonymisierungsfunktion) integriert. Google Analytics ist ein Web-Analyse-Dienst. Web-Analyse ist die Erhebung, Sammlung und Auswertung von Daten über das Verhalten
          von Besuchern von Websites. Ein Web-Analyse-Dienst erfasst unter anderem Daten darüber, von welcher Website eine betroffene Person auf eine Website gekommen ist (sogenannte Referrer), auf welche Unterseiten der Website zugegriffen
          oder wie oft und für welche Verweildauer eine Unterseite betrachtet wurde. Eine Web-Analyse wird überwiegend zur Optimierung einer Website und zur Kosten-Nutzen-Analyse von Internetwerbung eingesetzt.
          <br>
          <br> Betreibergesellschaft der Google-Analytics-Komponente ist die Google Inc., 1600 Amphitheatre Pkwy, Mountain View, CA 94043-1351, USA.
          <br>
          <br> Der für die Verarbeitung Verantwortliche verwendet für die Web-Analyse über Google Analytics den Zusatz „_gat._anonymizeIp“. Mittels dieses Zusatzes wird die IP-Adresse des Internetanschlusses der betroffenen Person von Google
          gekürzt und anonymisiert, wenn der Zugriff auf unsere Website aus einem Mitgliedstaat der Europäischen Union oder aus einem anderen Vertragsstaat des Abkommens über den Europäischen Wirtschaftsraum erfolgt.
          <br>
          <br> Der Zweck der Google-Analytics-Komponente ist die Analyse der Besucherströme auf unserer Website. Google nutzt die gewonnenen Daten und Informationen unter anderem dazu, die Nutzung unserer Website auszuwerten, um für uns Online-Reports,
          welche die Aktivitäten auf unserer Website aufzeigen, zusammenzustellen, und um weitere mit der Nutzung unserer Website in Verbindung stehenden Dienstleistungen zu erbringen.
          <br>
          <br> Google Analytics setzt ein Cookie auf dem informationstechnologischen System der betroffenen Person. Was Cookies sind, wurde oben bereits erläutert. Mit Setzung des Cookies wird Google eine Analyse der Benutzung unserer Website
          ermöglicht. Durch jeden Aufruf einer der Einzelseiten dieser Website, die durch den für die Verarbeitung Verantwortlichen betrieben wird und auf welcher eine Google-Analytics-Komponente integriert wurde, wird der Internetbrowser
          auf dem informationstechnologischen System der betroffenen Person automatisch durch die jeweilige Google-Analytics-Komponente veranlasst, Daten zum Zwecke der Online-Analyse an Google zu übermitteln. Im Rahmen dieses technischen
          Verfahrens erhält Google Kenntnis über personenbezogene Daten, wie der IP-Adresse der betroffenen Person, die Google unter anderem dazu dienen, die Herkunft der Besucher und Klicks nachzuvollziehen und in der Folge Provisionsabrechnungen
          zu ermöglichen.
          <br>
          <br> Mittels des Cookies werden personenbezogene Informationen, beispielsweise die Zugriffszeit, der Ort, von welchem ein Zugriff ausging und die Häufigkeit der Besuche unserer Website durch die betroffene Person, gespeichert. Bei
          jedem Besuch unserer Website werden diese personenbezogenen Daten, einschließlich der IP-Adresse des von der betroffenen Person genutzten Internetanschlusses, an Google in den Vereinigten Staaten von Amerika übertragen. Diese personenbezogenen
          Daten werden durch Google in den Vereinigten Staaten von Amerika gespeichert. Google gibt diese über das technische Verfahren erhobenen personenbezogenen Daten unter Umständen an Dritte weiter.
          <br>
          <br> Die betroffene Person kann die Setzung von Cookies durch unsere Website, wie oben bereits dargestellt, jederzeit mittels einer entsprechenden Einstellung des genutzten Internetbrowsers verhindern und damit der Setzung von Cookies
          dauerhaft widersprechen. Eine solche Einstellung des genutzten Internetbrowsers würde auch verhindern, dass Google ein Cookie auf dem informationstechnologischen System der betroffenen Person setzt. Zudem kann ein von Google Analytics
          bereits gesetzter Cookie jederzeit über den Internetbrowser oder andere Softwareprogramme gelöscht werden.
          <br>
          <br> Ferner besteht für die betroffene Person die Möglichkeit, einer Erfassung der durch Google Analytics erzeugten, auf eine Nutzung dieser Website bezogenen Daten sowie der Verarbeitung dieser Daten durch Google zu widersprechen
          und eine solche zu verhindern. Hierzu muss die betroffene Person ein Browser-Add-On unter dem Link https://tools.google.com/dlpage/gaoptout herunterladen und installieren. Dieses Browser-Add-On teilt Google Analytics über JavaScript
          mit, dass keine Daten und Informationen zu den Besuchen von Websites an Google Analytics übermittelt werden dürfen. Die Installation des Browser-Add-Ons wird von Google als Widerspruch gewertet. Wird das informationstechnologische
          System der betroffenen Person zu einem späteren Zeitpunkt gelöscht, formatiert oder neu installiert, muss durch die betroffene Person eine erneute Installation des Browser-Add-Ons erfolgen, um Google Analytics zu deaktivieren.
          Sofern das Browser-Add-On durch die betroffene Person oder einer anderen Person, die ihrem Machtbereich zuzurechnen ist, deinstalliert oder deaktiviert wird, besteht die Möglichkeit der Neuinstallation oder der erneuten Aktivierung
          des Browser-Add-Ons.
          <br>
          <br> Weitere Informationen und die geltenden Datenschutzbestimmungen von Google können unter https://www.google.de/intl/de/policies/privacy/ und unter http://www.google.com/analytics/terms/de.html abgerufen werden. Google Analytics
          wird unter diesem Link https://www.google.com/intl/de_de/analytics/ genauer erläutert.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>10	Rechtsgrundlagen, Zwecke der Verarbeitung, Dauer der Speicherung, Widerspruch und Beseitigungsmöglichkeit</h3>
        <h4>10.1	Allgemeine Angaben zu den Rechtsgrundlagen</h4>
        <p>Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung der betroffenen Person einholen, dient Art. 6 Abs. 1 lit. a EU-Datenschutzgrundverordnung (DSGVO) als Rechtsgrundlage für die Verarbeitung personenbezogener
          Daten.
          <br>
          <br> Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines Vertrages, dessen Vertragspartei die betroffene Person ist, erforderlich ist, dient Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage. Dies gilt auch für Verarbeitungsvorgänge,
          die zur Durchführung vorvertraglicher Maßnahmen erforderlich sind.
          <br>
          <br> Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist, der unser Unternehmen unterliegt, dient Art. 6 Abs. 1 lit. c DSGVO als Rechtsgrundlage.
          <br>
          <br> Für den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person eine Verarbeitung personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1 lit. d DSGVO als Rechtsgrundlage.
          <br>
          <br> Ist die Verarbeitung zur Wahrung eines berechtigten Interesses unseres Unternehmens oder eines Dritten erforderlich und überwiegen die Interessen, Grundrechte und Grundfreiheiten des Betroffenen das erstgenannte Interesse nicht,
          so dient Art. 6 Abs. 1 lit. f DSGVO als Rechtsgrundlage für die Verarbeitung.
          <br>
          <br>
          <h4>10.2	Allgemeine Angaben zur Datenlöschung und Speicherdauer</h4>
          <p>Die personenbezogenen Daten der betroffenen Person werden gelöscht oder gesperrt, sobald der Zweck der Speicherung entfällt. Eine Speicherung kann darüber hinaus dann erfolgen, wenn dies durch den europäischen oder nationalen Gesetzgeber
            in unionsrechtlichen Verordnungen, Gesetzen oder sonstigen Vorschriften, denen der Verantwortliche unterliegt, vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die genannten Normen vorgeschriebene
            Speicherfrist abläuft, es sei denn, dass eine Erforderlichkeit zur weiteren Speicherung der Daten für einen Vertragsabschluss oder eine Vertragserfüllung besteht.</p>
          <h4>10.3	Einzelangaben:</h4>
          <table border="1" ; cellspacing="5" style="padding: 10px">
            <thead bgcolor="#bfbfbf">
              <tr>
                <td width="85" style="padding: 10px">
                  <p><strong>Datum/Daten</strong></p>
                </td>
                <td width="142" style="padding: 10px">
                  <p><strong>Rechtsgrundlage</strong></p>
                </td>
                <td width="170" style="padding: 10px">
                  <p><strong>Speicherzweck</strong></p>
                </td>
                <td width="132" style="padding: 10px">
                  <p><strong>Speicherdauer</strong></p>
                </td>
                <td width="161" style="padding: 10px">
                  <p><strong>Widerspruch / Beseitigungsmöglichkeit</strong></p>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="85" style="padding: 10px">
                  <p>Allgemeine Systemdaten gem. Ziffer 5</p>
                </td>
                <td width="142" style="padding: 10px">
                  <p>Art. 6 Abs. 1 lit. f DSGVO</p>
                  <p>(berechtigtes Interesse)</p>
                </td>
                <td width="170" style="padding: 10px">
                  <p>Die vorübergehende Speicherung der IP-Adresse durch das System ist notwendig, um eine Auslieferung der Website an den Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die Dauer der Sitzung
                    gespeichert bleiben.</p>
                </td>
                <td width="132" style="padding: 10px">
                  <p>Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Im Falle der Erfassung der Daten zur Bereitstellung der Website ist dies der Fall, wenn die jeweilige Sitzung
                    beendet ist.</p>
                  <p>Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens sieben Tagen der Fall. Eine darüberhinausgehende Speicherung ist möglich. In diesem Fall werden die IP-Adressen der Nutzer gelöscht oder verfremdet,
                    sodass eine Zuordnung des aufrufenden Clients nicht mehr möglich ist.</p>
                </td>
                <td width="161" style="padding: 10px">
                  <p>Nein, da zwingend erforderlich für Betrieb der Website</p>
                </td>
              </tr>
              <tr>
                <td width="85" style="padding: 10px">
                  <p>Daten aus Kontaktformular und E-Mail-Kontakt gem. Ziffer 6</p>
                </td>
                <td width="142" style="padding: 10px">
                  <p>Rechtsgrundlage für die Verarbeitung der Daten ist bei Anfragen über das Kontaktformular und/oder E-Mail in der Regel Art. 6 Abs. 1 lit. b. DSGVO</p>
                  <p>(Vertragserfüllung; Vorvertragliche Maßnahmen);</p>
                  <p>Art. 6 Abs. 1 lit. c. DSGVO (Erfüllung einer rechtlichen Verpflichtung, z.B. Beantwortung von Fragen zum Datenschutz) und</p>
                  <p>im Übrigen Art. 6 Abs. 1 lit. f DSGVO</p>
                  <p>(berechtigtes Interesse).</p>
                  <p>&nbsp;</p>
                </td>
                <td width="170" style="padding: 10px">
                  <p>Die Verarbeitung der personenbezogenen Daten aus der Eingabemaske/E-Mail dient uns allein zur Bearbeitung der Kontaktaufnahme. Hierin liegt auch das erforderliche berechtigte Interesse an der Verarbeitung der Daten.</p>
                  <p>Die sonstigen während des Absendevorgangs verarbeiteten personenbezogenen Daten dienen dazu, einen Missbrauch des Kontaktformulars zu verhindern und die Sicherheit unserer informationstechnischen Systeme sicherzustellen.</p>
                  <p>&nbsp;</p>
                </td>
                <td width="132" style="padding: 10px">
                  <p>Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Für die personenbezogenen Daten aus der Eingabemaske des Kontaktformulars und diejenigen, die per E-Mail
                    übersandt wurden, ist dies dann der Fall, wenn die jeweilige Konversation mit dem Nutzer beendet ist. Beendet ist die Konversation dann, wenn sich aus den Umständen entnehmen lässt, dass der betroffene Sachverhalt abschließend
                    geklärt ist. Vorstehendes gilt nicht, falls die Korrespondenz einer handelsrechtlichen Aufbewahrungspflicht unterliegt.</p>
                  <p>Die während des Absendevorgangs zusätzlich erhobenen personenbezogenen Daten werden spätestens nach einer Frist von sieben Tagen gelöscht.</p>
                  <p>&nbsp;</p>
                </td>
                <td width="161" style="padding: 10px">
                  <p>Der Nutzer hat die Möglichkeit, der Speicherung seiner personenbezogenen Daten jederzeit zu widersprechen. In einem solchen Fall kann die Konversation nicht fortgeführt werden.</p>
                  <p>&nbsp;</p>
                </td>
              </tr>
              <tr>
                <td width="85" style="padding: 10px">
                  <p>Daten bei Bewerbungen und im Bewerbungs-verfahren gem. Ziffer 7</p>
                </td>
                <td width="142" style="padding: 10px">
                  <p>Rechtsgrundlage für die Verarbeitung der Daten ist bei Anfragen über das Kontaktformular und/oder E-Mail in der Regel Art. 6 Abs. 1 lit. b. DSGVO</p>
                  <p>(Arbeitsvertragserfüllung; Vorarbeitsvertragliche Maßnahmen);</p>
                  <p>Art. 6 Abs. 1 lit. c. DSGVO (Erfüllung einer rechtlichen Verpflichtung, z.B. Beantwortung von Fragen zum Bewerbungsverfahren) und</p>
                  <p>im Übrigen Art. 6 Abs. 1 lit. f DSGVO</p>
                  <p>(berechtigtes Interesse) sowie</p>
                  <p>Spezialgesetzliche Ermächtigungsnormen, wie Tarifvertrag, Betriebsvereinbarung, Einkommenssteuergesetz, etc. Es wird ergänzend auf das Verarbeitungsverzeichnis Personal/HR verweisen.</p>
                  <p>&nbsp;</p>
                </td>
                <td width="170" style="padding: 10px">
                  <p>Schließen wir einen Anstellungsvertrag mit Ihnen als Bewerber, werden die übermittelten Daten zum Zwecke der Abwicklung des Beschäftigungsverhältnisses unter Beachtung der gesetzlichen Vorschriften gespeichert.</p>
                  <p>&nbsp;</p>
                </td>
                <td width="132" style="padding: 10px">
                  <p>Wird von dem für die Verarbeitung Verantwortlichen kein Anstellungsvertrag mit dem Bewerber geschlossen, so werden die Bewerbungsunterlagen sechs Monate nach Bekanntgabe der Absageentscheidung automatisch gelöscht, sofern
                    einer Löschung keine sonstigen berechtigten Interessen des für die Verarbeitung Verantwortlichen entgegenstehen.</p>
                  <p>Sonstiges berechtigtes Interesse in diesem Sinne ist beispielsweise eine Beweispflicht in einem Verfahren nach dem Allgemeinen Gleichbehandlungsgesetz (AGG)</p>
                </td>
                <td width="161" style="padding: 10px">
                  <p>Nur allgemeine Widerspruchs- und Beseitigungsmöglichkeiten.</p>
                </td>
              </tr>
              <tr>
                <td width="85" style="padding: 10px">
                  <p>Cookies gem. Ziffer 8</p>
                </td>
                <td width="142" style="padding: 10px">
                  <p>Art. 6 Abs. 1 lit. f DSGVO (berechtigte Interessen) für technisch zwingend erforderliche Cookies</p>
                  <p>Im Übrigen: Art. 6 Abs. 1 lit. a DSGVO</p>
                  <p>(Einwilligung)</p>
                  <p>&nbsp;</p>
                </td>
                <td width="170" style="padding: 10px">
                  <p>Der Zweck der Verwendung technisch notwendiger Cookies ist, die Nutzung von Websites für die Nutzer zu vereinfachen. Einige Funktionen unserer Internetseite können ohne den Einsatz von Cookies nicht angeboten werden. Für
                    diese ist es erforderlich, dass der Browser auch nach einem Seitenwechsel wiedererkannt wird.</p>
                  <p>Die Verwendung der Analyse-Cookies erfolgt zu dem Zweck, die Qualität unserer Website und ihre Inhalte zu verbessern. Durch die Analyse-Cookies erfahren wir, wie die Website genutzt wird und können so unser Angebot stetig
                    optimieren.</p>
                  <p>In diesen Zwecken liegt auch unser berechtigtes Interesse in der Verarbeitung der personenbezogenen Daten nach Art. 6 Abs. 1 lit. f DSGVO.</p>
                  <p>&nbsp;</p>
                </td>
                <td width="132" style="padding: 10px">
                  <p>Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an unserer Seite übermittelt. Daher haben Sie als Nutzer auch die volle Kontrolle über die Verwendung von Cookies.</p>
                  <p>&nbsp;</p>
                </td>
                <td width="161" style="padding: 10px">
                  <p>Durch eine Änderung der Einstellungen in Ihrem Internetbrowser können Sie die Übertragung von Cookies deaktivieren oder einschränken. Bereits gespeicherte Cookies können jederzeit gelöscht werden. Dies kann auch automatisiert
                    erfolgen. Werden Cookies für unsere Website deaktiviert, können möglicherweise nicht mehr alle Funktionen der Website vollumfänglich genutzt werden.</p>
                  <p>Die Übermittlung von Flash-Cookies lässt sich nicht über die Einstellungen des Browsers, jedoch durch Änderungen der Einstellung des Flash Players unterbinden</p>
                </td>
              </tr>
              <tr>
                <td width="85" style="padding: 10px">
                  <p>Datenüber-mittlung durch Dritt-Cookies (Third-Party-Cookies) gem. Ziffer 9</p>
                </td>
                <td width="142" style="padding: 10px">
                  <p>Art. 6 Abs. 1 lit. f DSGVO</p>
                  <p>(berechtigtes Interesse)</p>
                </td>
                <td width="170" style="padding: 10px">
                  <p>Zweck und berechtigtes Interesse an der Setzung von Dritt-Cookies ist durch Analyse Ihres Nutzerverhaltens unser Angebot für Sie zu verbessern. In der Regel findet lediglich eine pseudonymisierte Datenübermittlung an die
                    Drittparteien statt. Im Übrigen haben Sie es selbst in der Hand, eine Übermittlung von Dritt-Cookies durch eine entsprechende Einstellung Ihres Internetbrowsers zu verhindern. Vergleichen Sie bitte im Einzelnen die Angaben
                    unter Ziffer 9.</p>
                </td>
                <td width="132" style="padding: 10px">
                  <p>Dritt-Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an unserer Seite übermittelt. Daher haben Sie als Nutzer auch die volle Kontrolle über die Verwendung von Dritt-Cookies.</p>
                </td>
                <td width="161" style="padding: 10px">
                  <p>Durch eine Änderung der Einstellungen in Ihrem Internetbrowser können Sie die Übertragung von Dritt-Cookies deaktivieren oder einschränken. Bereits gespeicherte Dritt-Cookies können jederzeit gelöscht werden. Dies kann
                    auch automatisiert erfolgen.</p>
                  <p>Die Übermittlung von Flash-Cookies lässt sich nicht über die Einstellungen des Browsers, jedoch durch Änderungen der Einstellung des Flash Players unterbinden</p>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>11	Ihre Rechte </h3>
        <p>Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie Betroffener i.S.d. DSGVO und es stehen Ihnen folgende Rechte gegenüber dem Verantwortlichen zu:</p>
        <h4>11.1	Auskunftsrecht</h4>
        <p>Sie können von dem Verantwortlichen eine Bestätigung darüber verlangen, ob personenbezogene Daten, die Sie betreffen, von uns verarbeitet werden.
          <br> Liegt eine solche Verarbeitung vor, können Sie von dem Verantwortlichen über folgende Informationen Auskunft verlangen:</p>
        <ol type="1">
          <li>die Zwecke, zu denen die personenbezogenen Daten verarbeitet werden;</li>
          <li>die Kategorien von personenbezogenen Daten, welche verarbeitet werden;</li>
          <li>die Empfänger bzw. die Kategorien von Empfängern, gegenüber denen die Sie betreffenden personenbezogenen Daten offengelegt wurden oder noch offengelegt werden;</li>
          <li>die geplante Dauer der Speicherung der Sie betreffenden personenbezogenen Daten oder, falls konkrete Angaben hierzu nicht möglich sind, Kriterien für die Festlegung der Speicherdauer;</li>
          <li>das Bestehen eines Rechts auf Berichtigung oder Löschung der Sie betreffenden personenbezogenen Daten, eines Rechts auf Einschränkung der Verarbeitung durch den Verantwortlichen oder eines Widerspruchsrechts gegen diese Verarbeitung;
            </li>
          <li>das Bestehen eines Beschwerderechts bei einer Aufsichtsbehörde;</li>
          <li>alle verfügbaren Informationen über die Herkunft der Daten, wenn die personenbezogenen Daten nicht bei der betroffenen Person erhoben werden;</li>
          <li>das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling gemäß Art. 22 Abs. 1 und 4 DSGVO und – zumindest in diesen Fällen – aussagekräftige Informationen über die involvierte Logik sowie die Tragweite und
            die angestrebten Auswirkungen einer derartigen Verarbeitung für die betroffene Person.</li>
        </ol>
        <p>Ihnen steht das Recht zu, Auskunft darüber zu verlangen, ob die Sie betreffenden personenbezogenen Daten in ein Drittland oder an eine internationale Organisation übermittelt werden. In diesem Zusammenhang können Sie verlangen, über
          die geeigneten Garantien gem. Art. 46 DSGVO im Zusammenhang mit der Übermittlung unterrichtet zu werden.</p>
        <h4>11.2	Recht auf Berichtigung </h4>
        <p>Sie haben ein Recht auf Berichtigung und/oder Vervollständigung gegenüber dem Verantwortlichen, sofern die verarbeiteten personenbezogenen Daten, die Sie betreffen, unrichtig oder unvollständig sind. Der Verantwortliche hat die Berichtigung
          unverzüglich vorzunehmen.</p>
        <h4>11.3	Recht auf Einschränkung der Verarbeitung</h4>
        <p>Unter den folgenden Voraussetzungen können Sie die Einschränkung der Verarbeitung der Sie betreffenden personenbezogenen Daten verlangen:</p>
        <ol>
          <li>wenn Sie die Richtigkeit der Sie betreffenden personenbezogenen Daten für eine Dauer bestreiten, die es dem Verantwortlichen ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen;</li>
          <li>die Verarbeitung unrechtmäßig ist und Sie die Löschung der personenbezogenen Daten ablehnen und stattdessen die Einschränkung der Nutzung der personenbezogenen Daten verlangen;</li>
          <li>der Verantwortliche die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger benötigt, Sie diese jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen, oder</li>
          <li>wenn Sie Widerspruch gegen die Verarbeitung gemäß Art. 21 Abs. 1 DSGVO eingelegt haben und noch nicht feststeht, ob die berechtigten Gründe des Verantwortlichen gegenüber Ihren Gründen überwiegen.</li>
        </ol>
        <p> Wurde die Verarbeitung der Sie betreffenden personenbezogenen Daten eingeschränkt, dürfen diese Daten – von ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen
          oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses der Union oder eines Mitgliedstaats verarbeitet werden.
          <br>
          <br> Wurde die Einschränkung der Verarbeitung nach den o.g. Voraussetzungen eingeschränkt, werden Sie von dem Verantwortlichen unterrichtet bevor die Einschränkung aufgehoben wird.</p>
        <h4>11.4	Recht auf Löschung</h4>
        <h5>11.4.1	Löschungspflicht</h5>
        <p>Sie können von dem Verantwortlichen verlangen, dass die Sie betreffenden personenbezogenen Daten unverzüglich gelöscht werden, und der Verantwortliche ist verpflichtet, diese Daten unverzüglich zu löschen, sofern einer der folgenden
          Gründe zutrifft:</p>
        <ol>
          <li>Die Sie betreffenden personenbezogenen Daten sind für die Zwecke, für die sie erhoben oder auf sonstige Weise verarbeitet wurden, nicht mehr notwendig.</li>
          <li>Sie widerrufen Ihre Einwilligung, auf die sich die Verarbeitung gem. Art. 6 Abs. 1 lit. a oder Art. 9 Abs.2 lit. a DSGVO stützte, und es fehlt an einer anderweitigen Rechtsgrundlage für die Verarbeitung. </li>
          <li>Sie legen gem. Art. 21 Abs. 1 DSGVO Widerspruch gegen die Verarbeitung ein und es liegen keine vorrangigen berechtigten Gründe für die Verarbeitung vor, oder Sie legen gem. Art. 21 Abs. 2 DSGVO Widerspruch gegen die Verarbeitung
            ein. </li>
          <li>Die Sie betreffenden personenbezogenen Daten wurden unrechtmäßig verarbeitet. </li>
          <li>Die Löschung der Sie betreffenden personenbezogenen Daten ist zur Erfüllung einer rechtlichen Verpflichtung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten erforderlich, dem der Verantwortliche unterliegt. </li>
          <li>Die Sie betreffenden personenbezogenen Daten wurden in Bezug auf angebotene Dienste der Informationsgesellschaft gemäß Art. 8 Abs. 1 DSGVO erhoben.</li>
        </ol>
        <p>Ferner besteht das Recht auf Löschung nicht, sofern die personenbezogenen Daten aufgrund von gesetzlichen Aufbewahrungspflichten und –fristen bei dem Verantwortlichen gespeichert werden müssen. In einem solchen Fall tritt anstelle
          der Löschung eine Sperrung der personenbezogenen Daten ein.</p>
        <h5>11.4.2	Information an Dritte</h5>
        <p>Hat der Verantwortliche die Sie betreffenden personenbezogenen Daten öffentlich gemacht und ist er gem. Art. 17 Abs. 1 DSGVO zu deren Löschung verpflichtet, so trifft er unter Berücksichtigung der verfügbaren Technologie und der
          Implementierungskosten angemessene Maßnahmen, auch technischer Art, um für die Datenverarbeitung Verantwortliche, die die personenbezogenen Daten verarbeiten, darüber zu informieren, dass Sie als betroffene Person von ihnen die
          Löschung aller Links zu diesen personenbezogenen Daten oder von Kopien oder Replikationen dieser personenbezogenen Daten verlangt haben.</p>
        <h5>11.4.3	Ausnahmen</h5>
        <p>Das Recht auf Löschung besteht nicht, soweit die Verarbeitung erforderlich ist</p>
        <ol>
          <li>zur Ausübung des Rechts auf freie Meinungsäußerung und Information;</li>
          <li>zur Erfüllung einer rechtlichen Verpflichtung, die die Verarbeitung nach dem Recht der Union oder der Mitgliedstaaten, dem der Verantwortliche unterliegt, erfordert, oder zur Wahrnehmung einer Aufgabe, die im öffentlichen Interesse
            liegt oder in Ausübung öffentlicher Gewalt erfolgt, die dem Verantwortlichen übertragen wurde;</li>
          <li>aus Gründen des öffentlichen Interesses im Bereich der öffentlichen Gesundheit gemäß Art. 9 Abs. 2 lit. h und i sowie Art. 9 Abs. 3 DSGVO;</li>
          <li>für im öffentlichen Interesse liegende Archivzwecke, wissenschaftliche oder historische Forschungszwecke oder für statistische Zwecke gem. Art. 89 Abs. 1 DSGVO, soweit das unter Abschnitt a) genannte Recht voraussichtlich die Verwirklichung
            der Ziele dieser Verarbeitung unmöglich macht oder ernsthaft beeinträchtigt, oder</li>
          <li>zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</li>
        </ol>
        <p>Ferner besteht das Recht auf Löschung nicht, sofern die personenbezogenen Daten aufgrund von gesetzlichen Aufbewahrungspflichten und –fristen bei dem Verantwortlichen gespeichert werden müssen. In einem solchen Fall tritt anstelle
          der Löschung eine Sperrung der personenbezogenen Daten ein.</p>
        <h4>11.5	Recht auf Unterrichtung</h4>
        <p>Haben Sie das Recht auf Berichtigung, Löschung oder Einschränkung der Verarbeitung gegenüber dem Verantwortlichen geltend gemacht, ist dieser verpflichtet, allen Empfängern, denen die Sie betreffenden personenbezogenen Daten offengelegt
          wurden, diese Berichtigung oder Löschung der Daten oder Einschränkung der Verarbeitung mitzuteilen, es sei denn, dies erweist sich als unmöglich oder ist mit einem unverhältnismäßigen Aufwand verbunden.
          <br>
          <br> Ihnen steht gegenüber dem Verantwortlichen das Recht zu, über diese Empfänger unterrichtet zu werden.</p>
        <h4>11.6	Recht auf Datenübertragbarkeit</h4>
        <p>Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie dem Verantwortlichen bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren und interoperablen Format zu erhalten. Außerdem haben Sie
          das Recht diese Daten einem anderen Verantwortlichen ohne Behinderung durch den Verantwortlichen, dem die personenbezogenen Daten bereitgestellt wurden, zu übermitteln, sofern</p>
        <ol>
          <li>die Verarbeitung auf einer Einwilligung gem. Art. 6 Abs. 1 lit. a DSGVO oder Art. 9 Abs. 2 lit. a DSGVO oder auf einem Vertrag gem. Art. 6 Abs. 1 lit. b DSGVO beruht und</li>
          <li>die Verarbeitung mithilfe automatisierter Verfahren erfolgt.</li>
        </ol>
        <p>In Ausübung dieses Rechts haben Sie ferner das Recht, zu erwirken, dass die Sie betreffenden personenbezogenen Daten direkt von einem Verantwortlichen einem anderen Verantwortlichen übermittelt werden, soweit dies technisch machbar
          ist. Freiheiten und Rechte anderer Personen dürfen hierdurch nicht beeinträchtigt werden.
          <br>
          <br> Das Recht auf Datenübertragbarkeit gilt nicht für eine Verarbeitung personenbezogener Daten, die für die Wahrnehmung einer Aufgabe erforderlich ist, die im öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt,
          die dem Verantwortlichen übertragen wurde.</p>
        <h4>11.7	Widerspruchsrecht</h4>
        <p>Sie haben das Recht, aus Gründen, die sich aus ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch
          einzulegen; dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling.
          <br>
          <br>Der Verantwortliche verarbeitet die Sie betreffenden personenbezogenen Daten nicht mehr, es sei denn, er kann zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen,
          oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
          <br>
          <br>Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten zum Zwecke derartiger
          Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.
          <br>
          <br>Widersprechen Sie der Verarbeitung für Zwecke der Direktwerbung, so werden die Sie betreffenden personenbezogenen Daten nicht mehr für diese Zwecke verarbeitet.
          <br>
          <br>Sie haben die Möglichkeit, im Zusammenhang mit der Nutzung von Diensten der Informationsgesellschaft – ungeachtet der Richtlinie 2002/58/EG – Ihr Widerspruchsrecht mittels automatisierter Verfahren auszuüben, bei denen technische
          Spezifikationen verwendet werden.</p>
        <h4>11.8	Recht auf Widerruf der datenschutzrechtlichen Einwilligungserklärung</h4>
        <p>Sie haben das Recht, Ihre datenschutzrechtliche Einwilligungserklärung jederzeit und ohne Angabe von Gründen zu widerrufen. Im Falle des Widerrufs werden wir Ihre personenbezogenen Daten unverzüglich löschen und nicht mehr weiterverarbeiten.
          Durch den Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt.</p>
        <h4>11.9	Automatisierte Entscheidung im Einzelfall einschließlich Profiling</h4>
        <p>Sie haben das Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung – einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber rechtliche Wirkung entfaltet oder Sie in ähnlicher
          Weise erheblich beeinträchtigt. Dies gilt nicht, wenn die Entscheidung</p>
        <ol>
          <li>für den Abschluss oder die Erfüllung eines Vertrags zwischen Ihnen und dem Verantwortlichen erforderlich ist,</li>
          <li>aufgrund von Rechtsvorschriften der Union oder der Mitgliedstaaten, denen der Verantwortliche unterliegt, zulässig ist und diese Rechtsvorschriften angemessene Maßnahmen zur Wahrung Ihrer Rechte und Freiheiten sowie Ihrer berechtigten
            Interessen enthalten oder</li>
          <li>mit Ihrer ausdrücklichen Einwilligung erfolgt.</li>
        </ol>
        <p>Allerdings dürfen diese Entscheidungen nicht auf besonderen Kategorien personenbezogener Daten nach Art. 9 Abs. 1 DSGVO beruhen, sofern nicht Art. 9 Abs. 2 lit. a oder g gilt und angemessene Maßnahmen zum Schutz der Rechte und Freiheiten
          sowie Ihrer berechtigten Interessen getroffen wurden.
          <br>
          <br> Hinsichtlich der in 1. und 3. genannten Fälle trifft der Verantwortliche angemessene Maßnahmen, um die Rechte und Freiheiten sowie Ihre berechtigten Interessen zu wahren, wozu mindestens das Recht auf Erwirkung des Eingreifens
          einer Person seitens des Verantwortlichen, auf Darlegung des eigenen Standpunkts und auf Anfechtung der Entscheidung gehört.</p>
        <h4>11.10	Recht auf Beschwerde bei einer Aufsichtsbehörde</h4>
        <p>Unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs steht Ihnen das Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres Aufenthaltsorts, ihres Arbeitsplatzes
          oder des Orts des mutmaßlichen Verstoßes, zu, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO verstößt.
          <br>
          <br> Die Aufsichtsbehörde, bei der die Beschwerde eingereicht wurde, unterrichtet den Beschwerdeführer über den Stand und die Ergebnisse der Beschwerde einschließlich der Möglichkeit eines gerichtlichen Rechtsbehelfs nach Art. 78 DSGVO.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <br>
        <br>
        <p>Stand: 18.05.2018</p>
        <p>Verantwortliche Stelle: Junior Comtec Projektmanagement UG (haftungsbeschränkt)</p>
      </div>
    </div>
  </div>
</section>


<%= partial "footer" %>
