<%= partial "header" %>
    <section id="page">
        <div class="container pb30 mt30">

            <div class="row">
                <div class="col-md-12">
                    <h1>Dummy Pages</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <%= link_to 'Seattle Test', '/seattle.html' %>
                </div>
                <div class="col-md-4">
                    <%= link_to 'JCD UG Test', '/jcd.html' %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb30">
                    <hr class="lineDouble">
                </div>
            </div>

            <section class=" pb15" data-nekoanim="fadeIn" data-nekodelay="0">
                <h1>Agenda der Schulung</h1>
                <article class="featureBox"><i class="icon-lightbulb iconRounded"></i>
                    <div class="boxContent">
                        <h1 style="text-align: left;">HTML</h1>
                        <p>Html bildet das Grundger체st der Webseite, hierbei sollt ihr einen Einblick erhalten welche Tags definiert sind und welche ihr verwenden solltet.</p>
                    </div>
                </article>
                <article class="featureBox"><i class="icon-beaker iconRounded"></i>
                    <div class="boxContent">
                        <h1 style="text-align: left;">CSS</h1>
                        <p> Unsere Berater kommen aus den Studienrichtungen Wirtschaftsingenieurwesen/-informatik und -mathematik sowie Maschinenbau, Elektrotechnik, Informatik, Mathematik, Soziologie, Psychologie u.a.</p>
                    </div>
                </article>
                <article class="featureBox"><i class="icon-ok iconRounded"></i>
                    <div class="boxContent">
                        <h1 style="text-align: left;">Middleman</h1>
                        <p> Durch unser einzigartiges Qualit채tssicherungssystem mit Angebotskuratorium und Projektmanagerkonzept sichern wir einen ausnahmslos hohen Standard.</p>
                    </div>
                </article>
                <article class="featureBox"><i class="icon-th iconRounded"></i>
                    <div class="boxContent">
                        <h1 style="text-align: left;">Git</h1>
                        <p> Wir leisten variable Projektumf채nge von wenigen bis 체ber 100 Personaltage.</p>
                    </div>
                </article>
            </section>
        </div>
    </section>
    <%= partial "footer" %>
