<%= partial "header" %>
    <section id="page">
        <div class="container pb30 mt30">

            <div class="row">
                <div class="col-md-12">
                    <h1>Dummy Pages</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <%= link_to 'Seattle Test', '/seattle.html' %>
                </div>
                <div class="col-md-4">
                    <%= link_to 'JCD UG Test', '/jcd.html' %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb30">
                    <hr class="lineDouble">
                </div>
            </div>
        </div>
    </section>
    <%= partial "footer" %>
