<!-- Tel <div class="boxedLayout above text-right"><small>+49 (0) 6151 154 06 61</small></div> -->
<div id="globalWrapper">
    <header class="navbar-fixed-top">
        <!-- header -->
        <div id="mainHeader" role="banner">
            <div class="container">
                <!-- indexer::stop -->
                <nav class="mod_navigation navbar navbar-default scrollMenu" role="navigation">
                    <div class="navbar-header">
                        <!-- responsive navigation -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                        <!-- Logo -->
                        <a class="navbar-brand" href="/"><img style="height: 30px; width:auto;" src="files/juniorcomtec/resources/layout/logo-studentische-Unternehmensberatung.png" alt="Junior Comtec" /></a>
                    </div>
                    <div class="collapse navbar-collapse" id="mainMenu">
                        <ul class="nav navbar-nav pull-right level_1" role="menubar">
                            <li class=" sibling first"> <a href="startseite.html" title="Die Studentische Unternehmensberatung" class="sibling first" role="menuitem">Startseite</a> </li>
                            <li class="sep"></li>
                            <li class="primary submenu branchen megamenusub sibling"> <a href="branchen.html" title="Branchen" class="firstLevel hasSubMenu submenu branchen megamenusub sibling" role="menuitem" aria-haspopup="true">Branchen</a>
                                <ul class="subMenu level_2" role="menu">
                                    <li class=" branchen first"> <a href="automobil.html" title="Automobil" class="branchen first" role="menuitem">Automobil</a> </li>
                                    <li class=" branchen"> <a href="chemie-papier-und-baustoffe.html" title="Chemie, Papier und Baustoffe" class="branchen" role="menuitem">Chemie, Papier &amp; Baustoffe</a> </li>
                                    <li class=" branchen"> <a href="energie-elektrotechnik.html" title="Energie &amp; Elektrotechnik" class="branchen" role="menuitem">Energie &amp; Elektrotechnik</a> </li>
                                    <li class=" branchen"> <a href="kommunikation-medien-technologie.html" title="Kommunikation, Medien &amp; Technologie" class="branchen" role="menuitem">Kommunikation, Medien &amp; Technologie</a> </li>
                                    <li class=" branchen"> <a href="maschinen-anlagenbau.html" title="Maschinen- &amp; Anlagenbau" class="branchen" role="menuitem">Maschinen- &amp; Anlagenbau</a> </li>
                                    <li class=" branchen"> <a href="oeffentlicher-sektor.html" title="Öffentlicher Sektor" class="branchen" role="menuitem">Öffentlicher Sektor</a> </li>
                                    <li class=" branchen"> <a href="pharma-gesundheitswesen.html" title="Pharma &amp; Gesundheitswesen" class="branchen" role="menuitem">Pharma &amp; Gesundheitswesen</a> </li>
                                    <li class=" branchen last"> <a href="transport-verkehr.html" title="Transport &amp; Verkehr" class="branchen last" role="menuitem">Transport &amp; Verkehr</a> </li>
                                </ul>
                            </li>
                            <li class="sep"></li>
                            <li class="primary submenu funktional megamenusub sibling"> <a href="beratung.html" title="Beratung" class="firstLevel hasSubMenu submenu funktional megamenusub sibling" role="menuitem" aria-haspopup="true">Beratung</a>
                                <ul class="subMenu level_2" role="menu">
                                    <li class=" funktional first"> <a href="analytics-research.html" title="Analytics &amp; Research" class="funktional first" role="menuitem">Analytics &amp; Research</a> </li>
                                    <li class=" funktional"> <a href="finanzen-controlling.html" title="Finanzen &amp; Controlling" class="funktional" role="menuitem">Finanzen &amp; Controlling</a> </li>
                                    <li class=" funktional"> <a href="it.html" title="IT" class="funktional" role="menuitem">Informationstechnik</a> </li>
                                    <li class=" funktional"> <a href="logistik-und-supply-chain.html" title="Logistik und Supply Chain" class="funktional" role="menuitem">Logistik &amp; Supply Chain</a> </li>
                                    <li class=" funktional"> <a href="marketing-sales.html" title="Marketing &amp; Sales" class="funktional" role="menuitem">Marketing &amp; Sales</a> </li>
                                    <li class=" funktional"> <a href="nachhaltigkeit.html" title="Nachhaltigkeit" class="funktional" role="menuitem">Nachhaltigkeit</a> </li>
                                    <li class=" funktional"> <a href="operations.html" title="Operations" class="funktional" role="menuitem">Operations</a> </li>
                                    <li class=" funktional"> <a href="personal-organisation.html" title="Personal &amp; Organisation" class="funktional" role="menuitem">Personal &amp; Organisation</a> </li>
                                    <li class=" funktional last"> <a href="strategie.html" title="Strategie" class="funktional last" role="menuitem">Strategie</a> </li>
                                </ul>
                            </li>
                            <li class="sep"></li>
                            <li class="primary active submenu activateAppearAnimation"> <a href="ueber-uns.html" title="Über Uns - die studentischen Berater" class="active firstLevel hasSubMenu active submenu activateAppearAnimation" role="menuitem" aria-haspopup="true">Über Uns</a>
                                <ul class="subMenu level_2" role="menu">
                                    <li class=" first"> <a href="qualitaetsmanagement.html" title="Qualitätsmanagement" class="first" role="menuitem">Qualitätsmanagement</a> </li>
                                    <li class=" "> <a href="geschaeftsfuehrung.html" title="Geschäftsführung" class="" role="menuitem">Geschäftsführung</a> </li>
                                    <li class=" "> <a href="projektmanagement.html" title="Projektmanagement" class="" role="menuitem">Projektmanagement</a> </li>
                                    <li class=" "> <a href="partner.html" title="Partner" class="" role="menuitem">Partner</a> </li>
                                    <li class=" last"> <a href="das-original.html" title="Das Original" class="last" role="menuitem">Das Original</a> </li>
                                </ul>
                            </li>
                            <li class="sep"></li>
                            <li class=" sibling"> <a href="presse.html" title="Presse" class="sibling" role="menuitem">Presse</a> </li>
                            <li class="sep"></li>
                            <li class=" sibling last"> <a href="projektanfrage.html" title="Kontakt zu Junior Comtec" class="sibling last" role="menuitem">Kontakt</a> </li>
                            <li class="sep"></li>
                        </ul>
                    </div>
                </nav>
                <!-- indexer::continue -->
            </div>
        </div>
    </header>
    <section id="page">
        <div class="custom">
            <div id="BreadCrumbs">
                <div class="inside">
                    <!-- indexer::stop -->
                    <div class="mod_breadcrumb block">
                        <header class="page-header mb30 visible-md visible-lg">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="phonenr"><small>+49 (0) 6151 154 06 61</small></div>
                                        <ul class="breadcrumb">
                                            <li class="first"><a href="startseite.html" title="Junior Comtec">Junior Comtec</a></li>
                                            <li class="active last">Über Uns - die studentischen Berater</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </header>
                    </div>
                    <!-- indexer::continue -->
                </div>
            </div>
        </div>
        <div class="container mt30 pb30">
            <div class="row">
                <aside id="left" class="col-md-3">
                    <div class="inside ">
                        <!-- indexer::stop -->
                        <nav id="subnav">
                            <ul>
                                <li> <a href="qualitaetsmanagement.html" title="Qualitätsmanagement" class="first" role="menuitem">Qualitätsmanagement<i class=" icon-right-open-mini"></i></a></li>
                                <li> <a href="geschaeftsfuehrung.html" title="Geschäftsführung" class="" role="menuitem">Geschäftsführung<i class=" icon-right-open-mini"></i></a></li>
                                <li> <a href="projektmanagement.html" title="Projektmanagement" class="" role="menuitem">Projektmanagement<i class=" icon-right-open-mini"></i></a></li>
                                <li> <a href="partner.html" title="Partner" class="" role="menuitem">Partner<i class=" icon-right-open-mini"></i></a></li>
                                <li> <a href="das-original.html" title="Das Original" class="last" role="menuitem">Das Original<i class=" icon-right-open-mini"></i></a></li>
                            </ul>
                        </nav>
                        <!-- indexer::continue -->
                    </div>
                </aside>
                <div id="main" class="col-md-9">
                    <div class="inside">
                        <div class="mod_article first last block" id="ueber-uns">
                            <section class=" ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 class="comtec text-center">Über Uns</h1></div>
                                </div>
                                <div class="row mt15">
                                    <div class="col-md-12" data-nekoanim="fadeIn" data-nekodelay="0">
                                        <p class="">Als Studentische Unternehmensberatung verwirklichen wir den Brückenschlag zwischen Theorie und Praxis. Überdurchschnittlich engagierten Studierenden bieten wir die Möglichkeit, ihre Ideen und ihr Fachwissen in anspruchsvollen Beratungsprojekten zum Vorteil unserer Kunden einzusetzen. Der Erfolg zeigt sich in dem Vertrauen, das unsere Kunden den von uns vermittelten Projektteams seit 1988 entgegenbringen.</p>
                                    </div>
                                </div>
                            </section><img src="files/juniorcomtec/resources/layout/comtec-team-studentische-Unternehmensberatung.jpg" class="image-responsive" style="width: 100%; height: auto; padding-top: 20px; padding-bottom: 40px;" alt="">
                            <section class="col-md-12" data-nekoanim="fadeIn" data-nekodelay="0">
                                <div class="row ">
                                    <div class="col-md-12">
                                        <h4 class="text-center"><span style="color: #002663; font-size: 30px;">25</span>-jährige Erfahrung</h4></div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12">
                                        <h4 class="text-center">Know-How aus mehr als <span style="color: #002663; font-size: 30px;">650</span> Projekten</h4></div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12">
                                        <h4 class="text-center">Spitzenreiter mit rund <span style="color: #002663; font-size: 30px;">500</span> Personaltagen pro Jahr</h4></div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12">
                                        <h4 class="text-center">Mehr als <span style="color: #002663; font-size: 30px;">50</span> hochqualifizierte Studenten im Beraterpool</h4></div>
                                </div>
                            </section>
                            <div class="row">
                                <div class="col-md-12 mb30">
                                    <hr class="lineDouble">
                                </div>
                            </div>
                            <section class="" data-nekoanim="fadeIn" data-nekodelay="0">
                                <div class="row mb15">
                                    <div class="col-md-6">
                                        <h1 class="comtec">Preis-Leistungs-Verhältnis</h1>
                                        <p class="">Qualifizierte Beratung für Ihr Unternehmen wird mit uns bezahlbar. Die Konditionen, der von uns vermittelten Projektteams, liegen weit unter denen hauptberuflicher Unternehmensberatungen - und das bei gleicher Qualität und hohem Anspruch.</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h1 class="comtec">Qualität</h1>
                                        <p class="">Ein kontinuierlicher Wissenstransfer und unsere Qualitätssicherungsinstrumente halten die Qualität unserer Beratung immer auf höchstem Niveau. Auf diese Weise sichern wir die optimale Nutzung und den Erhalt unseres reichen Erfahrungsschatzes.</p>
                                    </div>
                                </div>
                                <div class="row mt15">
                                    <div class="col-md-6">
                                        <h1 class="comtec">Individuelle Konzepte</h1>
                                        <p class="">Da jede Problemstellung anders und genauso individuell wie Ihr Unternehmen ist, werden Ihnen bei Junior Comtec keine Schubladenlösungen angeboten. Interdisziplinär zusammengestellte Beraterteams garantieren eine maßgeschneiderte Lösung für Ihren speziellen Auftrag.</p>
                                    </div>
                                    <div class="col-md-6">
                                        <h1 class="comtec">Anerkannte universitäre Ausbildung</h1>
                                        <p class="">Die Mitglieder unseres Vereins studieren überwiegend an der Technischen Universität Darmstadt. Bevorzugte Studiengänge unserer Berater sind das Wirtschaftsingenieurwesen sowie Ingenieur- und Naturwissenschaften. Die interdisziplinäre Zusammensetzung unserer Projektteams wird durch angehende Informatiker, Psychologen und Studierende weiterer Fachrichtungen ergänzt.</p>
                                    </div>
                                </div>
                            </section>
                            <div class="row">
                                <div class="col-md-12 mb30">
                                    <hr class="lineDouble">
                                </div>
                            </div>
                            <section class="nekoDataOwl owl-carousel pt15 pb15" data-neko_items="1" data-poh="true" data-neko_itemsscaleup="true" data-neko_autoplay="true" data-neko_navigation="false" data-neko_pagination="true" data-neko_mousedrag="false">
                                <!-- MB -->
                                <div class="item">
                                    <h1 class="comtec">Fähigkeiten, die im Studium nicht vermittelt werden, erlernt man bei Junior Comtec.</h1>
                                    <div> </div>
                                    <div class="row">
                                        <div class="col-md-3"><img src="files/juniorcomtec/resources/layout/marcel.png" class="img-responsive " align="middle" alt=""></div>
                                        <div class="col-md-9">
                                            <p>Junior Comtec bietet mir die Möglichkeit, das im Studium erlernte Wissen in der Projektarbeit anzuwenden und praktische Erfahrungen zu sammeln. Dabei profitiere ich von neuen Herausforderungen, um mich so stetig weiterzuentwickeln und auch einmal in Bereiche hineinzuschnuppern, die im Studium nicht vermittelt werden. Besonders begeistert bin ich von externen Workshops, die wir mit hauptberuflichen Unternehmensberatungen durchführen. Die Workshops vermitteln einem dabei, wie man unter Zeitdruck kundenorientierte Problemstellungen kreativ löst. Zudem bekommt man die Möglichkeit, sich mit den hauptberuflichen Beratern auszutauschen und sein persönliches Netzwerk stetig auszubauen.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- / MB -->
                                <!-- MS -->
                                <div class="item">
                                    <h1 class="comtec">Wer etwas leisten will, wird unterstützt.</h1>
                                    <div> </div>
                                    <div class="row">
                                        <div class="col-md-3"><img src="files/juniorcomtec/resources/layout/marc.png" class="img-responsive " alt=""></div>
                                        <div class="col-md-9">
                                            <p>Nach meiner Mitarbeit in einem hoch dynamischen Start-up war ich auf der Suche nach einer neuen Herausforderung neben meinem Studium. Dabei wurde ich auf Junior Comtec aufmerksam. Die Aussicht auf Zusammenarbeit mit hochmotivierten Studenten im Rahmen abwechslungsreicher Projektarbeit motivierte mich schließlich, den Schritt zu wagen. Junior Comtec bot mir schon früh die Möglichkeit, Verantwortung zu übernehmen und in einem abwechslungsreichen Umfeld weitere Erfahrung zu sammeln. Besonders das hohe Maß an Professionalität und die schlanken Qualitätsprozesse sind überzeugend und motivieren, auch vereinsinterne Aufgaben zu übernehmen – es macht einfach Spaß, Ziele gemeinsam im Team zu erreichen.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- PT -->
                                <div class="item">
                                    <h1 class="comtec">Studentische Beratung ist die perfekte Ergänzung meines Studiums.</h1>
                                    <div> </div>
                                    <div class="row">
                                        <div class="col-md-3"><img src="files/juniorcomtec/resources/layout/philipp.png" class="img-responsive " alt=""></div>
                                        <div class="col-md-9">
                                            <p>Das Besondere an Junior Comtec liegt für mich darin, dass herausragende Studenten aller Fachrichtungen gemeinsam in einem Team Ideen vorantreiben und messbare Ergebnisse erzielen, die einen echten Mehrwert für unsere Kunden schaffen. Bei der Projektarbeit konnte ich neben dem Studium auch in der Praxis etwas bewegen und durch den intensiven Austausch mit Kommilitonen mein Fach- und Methodenwissen kontinuierlich ausbauen und weitergeben. Dabei war insbesondere die Aufgabe als Vorstand Verantwortung für Junior Comtec Darmstadt e.V. zu übernehmen ein wichtiger Teil meiner persönlichen Weiterentwicklung.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- / PT -->
                                <!-- RH -->
                                <div class="item">
                                    <h1 class="comtec">Eine steile Lernkurve als Basis für langfristigen Erfolg.</h1>
                                    <div> </div>
                                    <div class="row">
                                        <div class="col-md-3"><img src="files/juniorcomtec/resources/layout/robert.png" class="img-responsive " alt=""></div>
                                        <div class="col-md-9">
                                            <p>Ich bin bei Junior Comtec eingestiegen, um frühzeitig erste Praxiserfahrungen sammeln zu können. Seitdem ist mein Werdegang bei Junior Comtec in erster Linie von einer steilen Lernkurve geprägt. Durch Schulungen, Workshops und nicht zuletzt dank der konzeptionell anspruchsvollen Projekte unserer Kunden konnte ich mein im Studium erworbenes theoretisches Wissen durch wertvolles Branchen- und Methodenwissen aus der Praxis ergänzen. Neben der Praxiserfahrung ist es vor allem die persönliche Weiterentwicklung, die die Arbeit bei Junior Comtec so wichtig für mich macht. Man lernt stetig dazu – von Präsentations- und Kommunikationsfähigkeiten bis hin zu Teamarbeit und Führungsqualitäten. Davon profitieren die Berater von Junior Comtec nicht nur selbst, sondern setzen diese Fähigkeiten vor allem zum Vorteil unserer Kunden ein.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- / RH -->
                                <!-- SR -->
                                <div class="item">
                                    <h1 class="comtec">Arbeit an der Schnittstelle zwischen Theorie und Praxis.</h1>
                                    <div> </div>
                                    <div class="row">
                                        <div class="col-md-3"><img src="files/juniorcomtec/resources/layout/sven.png" class="img-responsive " alt=""></div>
                                        <div class="col-md-9">
                                            <p>Durch meine Tätigkeit als studentischer Berater bei Junior Comtec habe ich mein Studium des Computational Engineering um einen wertvollen wirtschaftlichen Bezug ergänzt. Als Vorstand für Akquise und Netzwerke bin ich für die Anbahnung neuer Projekte, den Kontakt zur Wirtschaft sowie die strategische Entwicklung verantwortlich. Im Rahmen meiner Projektarbeit konnte ich bereits namhafte Unternehmen bei vielfältigen Fragestellungen beraten und in interdisziplinären Teams individuelle Lösungen für unsere Kunden erarbeiten. Gemeinsam mit der Verantwortung als Vorstand stellt die Arbeit bei Junior Comtec für mich eine optimale Vorbereitung auf den späteren Einstieg in eine hauptberufliche Beratung dar.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- / SR -->
                                <!-- SW -->
                                <div class="item">
                                    <h1 class="comtec">Anspruchsvolle Beratungsprojekte in einem ausnahmslos professionellen Umfeld durchführen.</h1>
                                    <div> </div>
                                    <div class="row">
                                        <div class="col-md-3"><img src="files/juniorcomtec/resources/layout/sandra.png" class="img-responsive " alt=""></div>
                                        <div class="col-md-9">
                                            <p>Bemerkenswert an Junior Comtec war für mich von Beginn an das hohe Maß an Qualitätsbewusstsein, das sich wie ein roter Faden sowohl durch die Projekt- als auch Vereinsarbeit zieht. Gegenwärtig bin ich die Sprecherin unserer internen Instanz für Qualitätssicherung, die für die Einhaltung festgelegter Qualitätsanforderungen zuständig ist. Von dieser Sorgfalt profitieren nicht zuletzt unsere Kunden, die sich auf eine gewissenhafte sowie individuelle Projektdurchführung verlassen können. Ich bin daher der festen Überzeugung, dass das Mitwirken bei Junior Comtec all unsere Berater aufgrund der professionellen Struktur auf ihr späteres Berufsleben vorbereitet.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- / SW -->
                                <!-- KK -->
                                <div class="item">
                                    <h1 class="comtec">Persönliche Verantwortung fördert die individuelle Entwicklung.</h1>
                                    <div> </div>
                                    <div class="row">
                                        <div class="col-md-3"><img src="files/juniorcomtec/resources/layout/kerstin.png" class="img-responsive " alt=""></div>
                                        <div class="col-md-9">
                                            <p> Als 1. Vorsitzende und gleichzeitig als Vorstand für Personal konnte ich früh Verantwortung für die strategische Ausrichtung und Weiterentwicklung von Junior Comtec tragen. Dabei übernahm ich erfolgreich Führungsaufgaben und baute meine fachlichen sowie persönlichen Kompetenzen aus. Junior Comtec bietet seinen Beratern ein innovatives Umfeld, in dem ein stetiger Austausch an Expertise und methodischen Herangehensweisen stattfindet. In interdisziplinären Teams erarbeiten wir maßgeschneiderte Lösungen für unsere Kunden. Unter Verfolgung unserer Projektziele überzeugen wir durch aktuelles Hochschulwissen und unternehmerische Weitsicht. Die über 650 abgeschlossenen Projekte unterstreichen den Erfolg von Junior Comtec und die Zufriedenheit unserer Kunden.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /KK -->
                            </section>
                            <div class="row">
                                <div class="col-md-12 mb30">
                                    <hr class="lineDouble">
                                </div>
                            </div>
                            <section class=" pb15" data-nekoanim="fadeIn" data-nekodelay="0">
                                <article class="featureBox"><i class="icon-lightbulb iconRounded"></i>
                                    <div class="boxContent">
                                        <h1 style="text-align: left;">Sprachkenntnisse</h1>
                                        <p> Wir verfügen über Fremdsprachenkenntnisse in Englisch, Französisch, Spanisch, Italienisch, Portugiesisch, Russisch und Polnisch.</p>
                                    </div>
                                </article>
                                <article class="featureBox"><i class="icon-beaker iconRounded"></i>
                                    <div class="boxContent">
                                        <h1 style="text-align: left;">Fachrichtungen</h1>
                                        <p> Unsere Berater kommen aus den Studienrichtungen Wirtschaftsingenieurwesen/-informatik und -mathematik sowie Maschinenbau, Elektrotechnik, Informatik, Mathematik, Soziologie, Psychologie u.a.</p>
                                    </div>
                                </article>
                                <article class="featureBox"><i class="icon-ok iconRounded"></i>
                                    <div class="boxContent">
                                        <h1 style="text-align: left;">Qualitätssicherung</h1>
                                        <p> Durch unser einzigartiges Qualitätssicherungssystem mit Angebotskuratorium und Projektmanagerkonzept sichern wir einen ausnahmslos hohen Standard.</p>
                                    </div>
                                </article>
                                <article class="featureBox"><i class="icon-th iconRounded"></i>
                                    <div class="boxContent">
                                        <h1 style="text-align: left;">Flexibilität</h1>
                                        <p> Wir leisten variable Projektumfänge von wenigen bis über 100 Personaltage.</p>
                                    </div>
                                </article>
                            </section>
                            <div class="row">
                                <div class="col-md-12 mb30">
                                    <hr class="lineDouble">
                                </div>
                            </div>
                            <section class=" pb15">
                                <div class="row">
                                    <div class="col-md-6 " data-nekoanim="fadeIn" data-nekodelay="0">
                                        <h1>Das Original</h1>
                                        <p> Während eines Auslandsstudiums in Frankreich lernte der Darmstädter Wirtschaftsingenieur Peter Teichmann die Idee der Studentischen Unternehmensberatung kennen. Nach seiner Rückkehr 1988 begeisterte er weitere Studierende der Technischen Universität Darmstadt von der Verknüpfung aktuellen Hochschulwissens mit Engagement in der Wirtschaft. Schließlich wurde im Februar 1988 die erste Studentische Unternehmensberatung Deutschlands - Junior Comtec Darmstadt e. V. - gegründet. Seit jeher zählen wir zu den Vorreitern unter den Studentischen Unternehmensberatungen. Die heute über 650 erfolgreich abgeschlossenen, nationalen und internationalen Projekte stehen für unseren Erfolg.</p>
                                    </div>
                                    <div class="col-md-6" data-nekoanim="fadeIn" data-nekodelay="0">
                                        <h1>Die Idee</h1>
                                        <p> Als Studentische Unternehmensberatung verbinden wir Theorie und Praxis. Hochmotivierte Studierende setzen ihre Ideen und ihr Fachwissen in der freien Wirtschaft zum Vorteil unserer Kunden ein. So können Unternehmen von aktuellem Hochschulwissen, kreativen Lösungen und engagierten Beratern profitieren – und all das zu angemessenen Konditionen. Bereits in den sechziger Jahren gründeten französische Studierende die erste Studentische Unternehmensberatung. Bis heute sind in Europa weit mehr als dreihundert dieser studentischen Initiativen entstanden – allein in Deutschland über einhundert.</p>
                                    </div>
                                </div>
                            </section>
                            <section class=" pb15">
                                <div class="row">
                                    <div class="col-md-6 " data-nekoanim="fadeIn" data-nekodelay="0">
                                        <h1>Unsere Philosophie</h1>
                                        <p class=" ">Junior Comtec hat als erste, deutsche Studentische Unternehmensberatung den Anspruch, zielorientiert neue Lösungen zu entwickeln. Jedes Projekt sehen wir als neue Herausforderung. Profitieren Sie&nbsp;aus den Erfahrungen von 25 Jahren Projektarbeit. Durch die Anbindung&nbsp;an die TU Darmstadt verfügen wir immer über das aktuellste Wissen. Insbesondere aus dieser Symbiose entstehen innovative und intelligente Konzepte.</p>
                                    </div>
                                    <div class="col-md-6" data-nekoanim="fadeIn" data-nekodelay="0">
                                        <h1>Unsere Erfahrungen</h1>
                                        <p class=" ">Mit zahlreichen, erfolgreich vermittelten Projekten aus kaufmännischen und technischen Bereichen ist Junior Comtec ein zuverlässiger Partner.&nbsp;Unser Kundenspektrum reicht von neugegründeten, kleinen Unternehmen über etablierte, mittelständische Unternehmen bis hin&nbsp;zu international agierenden Konzernen.</p>
                                    </div>
                                </div>
                            </section>
                            <div class="row">
                                <div class="col-md-12 mb30">
                                    <hr class="lineDouble">
                                </div>
                            </div>
                            <section class="pb15">
                                <div class="row">
                                    <div class="col-md-12 mb15">
                                        <h1 class="comtec text-center">Junior Comtec Chronik</h1></div>
                                </div>
                                <div class="row" data-nekoanim="fadeInUp" data-nekodelay="0">
                                    <div class="col-md-10 col-md-offset-1">
                                        <ul class="timeline">
                                            <li>
                                                <time class="cbp_tmtime" datetime=""><span>2013</span></time><i class="cbp_tmicon rounded"></i>
                                                <div class="cbp_tmlabel">
                                                    <p>25 Jahre Junior Comtec</p>
                                                </div>
                                            </li>
                                            <li>
                                                <time class="cbp_tmtime" datetime=""><span>2012</span></time><i class="cbp_tmicon rounded"></i>
                                                <div class="cbp_tmlabel">
                                                    <p>Erfolgreiche ISO-Zertifizierung nach DIN ISO 9001:2008</p>
                                                </div>
                                            </li>
                                            <li>
                                                <time class="cbp_tmtime" datetime=""><span>2011</span></time><i class="cbp_tmicon rounded lightbg"></i>
                                                <div class="cbp_tmlabel">
                                                    <p>600 erfolgreich abgeschlossene Projekte</p>
                                                </div>
                                            </li>
                                            <li>
                                                <time class="cbp_tmtime" datetime=""><span>2010</span></time><i class="cbp_tmicon rounded"></i>
                                                <div class="cbp_tmlabel">
                                                    <p>Gründung der Junior Comtec Projektmanagement UG (haftungsbeschränkt)</p>
                                                </div>
                                            </li>
                                            <li>
                                                <time class="cbp_tmtime" datetime=""><span>2008</span></time><i class="cbp_tmicon rounded"></i>
                                                <div class="cbp_tmlabel">
                                                    <p>Plattformtreffen des BDSU in Darmstadt; 20-jähriges Jubiläum der Junior Comtec</p>
                                                </div>
                                            </li>
                                            <li>
                                                <time class="cbp_tmtime" datetime=""><span>2007</span></time><i class="cbp_tmicon rounded lightbg"></i>
                                                <div class="cbp_tmlabel">
                                                    <p>500 erfolgreich abgeschlossene Projekte</p>
                                                </div>
                                            </li>
                                            <li>
                                                <time class="cbp_tmtime" datetime=""><span>1992</span></time><i class="cbp_tmicon rounded"></i>
                                                <div class="cbp_tmlabel">
                                                    <p>Gründungsmitglied des Dachverbands BDSU und JADE</p>
                                                </div>
                                            </li>
                                            <li>
                                                <time class="cbp_tmtime" datetime=""><span>1988</span></time><i class="cbp_tmicon rounded"></i>
                                                <div class="cbp_tmlabel">
                                                    <p>Gründung von "Junior Comtec Darmstadt e.V." durch sieben Darmstädter Studierende</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                            <div class="ctaBox ctaBox2Cols color1 mb30 mt30" style="border: 0;">
                                <div class="row">
                                    <div class="col-md-offset-1">
                                        <div class="ctaBoxText">
                                            <h1 class="comtec">     Konnten wir Ihr Interesse wecken? </h1>
                                            <h3>Schicken Sie uns eine unverbindliche Projektanfrage zu oder rufen Sie uns direkt an. </h3> <a class="btn btn-lg btn-primary" title="" href="projektanfrage.html" target="blank">     Zur Projektanfrage </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nekoMegaMenu subMenu branchen" style="display: none;">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="megaInner">
                                        <!-- <img src="images/main-logo.png" alt="" class="mb15">                          -->
                                        <p> In den vergangenen fünf Jahren konnten wir in mehr als 100 Beratungsprojekten mit Kunden aus acht verschiedenen Branchen unsere Erfahrungen weiter ausbauen.</p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="megaInner clearfix">
                                        <ul>
                                            <li class="branchen first"> <a href="automobil.html" title="Automobil" class="branchen first" role="menuitem">Automobil</a> </li>
                                            <li class="branchen"> <a href="chemie-papier-und-baustoffe.html" title="Chemie, Papier &amp; Baustoffe" class="branchen" role="menuitem">Chemie, Papier &amp; Baustoffe</a> </li>
                                            <li class="branchen"> <a href="energie-elektrotechnik.html" title="Energie &amp; Elektrotechnik" class="branchen" role="menuitem">Energie &amp; Elektrotechnik</a> </li>
                                            <li class="branchen"> <a href="kommunikation-medien-technologie.html" title="Kommunikation, Medien &amp; Technologie" class="branchen" role="menuitem">Kommunikation, Medien &amp; Technologie</a> </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="megaInner clearfix">
                                        <ul>
                                            <li class="branchen"> <a href="maschinen-anlagenbau.html" title="Maschinen- &amp; Anlagenbau" class="branchen" role="menuitem">Maschinen- &amp; Anlagenbau</a> </li>
                                            <li class="branchen"> <a href="oeffentlicher-sektor.html" title="Öffentlicher Sektor" class="branchen" role="menuitem">Öffentlicher Sektor</a> </li>
                                            <li class="branchen"> <a href="pharma-gesundheitswesen.html" title="Pharma &amp; Gesundheitswesen" class="branchen" role="menuitem">Pharma &amp; Gesundheitswesen</a> </li>
                                            <li class="branchen last"> <a href="transport-verkehr.html" title="Transport &amp; Verkehr" class="branchen last" role="menuitem">Transport &amp; Verkehr</a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nekoMegaMenu subMenu funktionen" style="display: none;">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="megaInner">
                                        <!-- <img src="images/main-logo.png" alt="" class="mb15">                          -->
                                        <p> Die Funktionsbereiche bieten einen Überblick über das spezifische Wissen, das unsere Projektteams zur bestmöglichen Lösung Ihrer Herausforderung einbringen.</p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="megaInner clearfix">
                                        <ul>
                                            <li class="funktional first"> <a href="analytics-research.html" title="Analytics &amp; Research" class="funktional first" role="menuitem">Analytics &amp; Research</a> </li>
                                            <li class="funktional"> <a href="finanzen-controlling.html" title="Finanzen &amp; Controlling" class="funktional" role="menuitem">Finanzen &amp; Controlling</a> </li>
                                            <li class="funktional"> <a href="it.html" title="IT" class="funktional" role="menuitem">Informationstechnik</a> </li>
                                            <li class="funktional"> <a href="logistik-und-supply-chain.html" title="Logistik &amp; Supply Chain" class="funktional" role="menuitem">Logistik &amp; Supply Chain</a> </li>
                                            <li class="funktional"> <a href="marketing-sales.html" title="Marketing &amp; Sales" class="funktional" role="menuitem">Marketing &amp; Sales</a> </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="megaInner clearfix">
                                        <ul>
                                            <li class="funktional"> <a href="nachhaltigkeit.html" title="Nachhaltigkeit" class="funktional" role="menuitem">Nachhaltigkeit</a> </li>
                                            <li class="funktional"> <a href="operations.html" title="Operations" class="funktional" role="menuitem">Operations</a> </li>
                                            <li class="funktional"> <a href="personal-organisation.html" title="Personal &amp; Organisation" class="funktional" role="menuitem">Personal &amp; Organisation</a> </li>
                                            <li class="funktional last"> <a href="strategie.html" title="Strategie" class="funktional last" role="menuitem">Strategie</a> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footerWrapper">
        <section id="mainFooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="footerWidget">
                            <h3><a href="http://www.junior-comtec-ev.de/">Du bist Student?</a></h3>
                            <p>Du bist auf der Suche nach neuen Herausforderungen und möchtest gerne Verantwortung in anspruchsvollen Beratungsprojekten übernehmen? Zu deinen Stärken gehören Teamfähigkeit, Einsatzbereitschaft und Durchhaltevermögen? – Dann bist du bei uns genau richtig.</p> <a href="http://www.junior-comtec-ev.de/" class="btn btn-primary"><i class="icon-right-circle"></i>Erfahre mehr!</a></div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="footerWidget">
                            <h3>Presse</h3>
                            <!-- indexer::stop -->
                            <div class="mod_newslist block">
                                <ul class="list-unstyled">
                                    <li style="line-height: 18px; list-style-type: disc; margin-bottom: 8px; list-style-position: outside;"><a href="pressemeldung/potenzial-von-shopfloor-management.html" title="Den Artikel lesen: Shopfloor Management - Ein Mittel zur kontinuierlichen Entwicklung von Kompetenzen im Produktionsumfeld">Shopfloor Management - Ein Mittel zur kontinuierlichen Entwicklung von Kompetenzen im Produktionsumfeld</a></li>
                                    <li style="line-height: 18px; list-style-type: disc; margin-bottom: 8px; list-style-position: outside;"><a href="pressemeldung/iso-90012015.html" title="Den Artikel lesen: Revision ISO 9001:2015">Revision ISO 9001:2015</a></li>
                                    <li style="line-height: 18px; list-style-type: disc; margin-bottom: 8px; list-style-position: outside;"><a href="pressemeldung/studentische-unternehmensberatungen-und-ihre-dachverbaende-31.html" title="Den Artikel lesen: Studentische Unternehmensberatungen und ihre Dachverbände">Studentische Unternehmensberatungen und ihre Dachverbände</a></li>
                                    <li style="line-height: 18px; list-style-type: disc; margin-bottom: 8px; list-style-position: outside;"><a href="pressemeldung/industrie-4-0-die-befehle-des-werkstuecks.html" title="Den Artikel lesen: Industrie 4.0 – Die Befehle des Werkstücks">Industrie 4.0 – Die Befehle des Werkstücks</a></li>
                                </ul>
                            </div>
                            <!-- indexer::continue -->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footerWidget" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <h3>Junior Comtec Projektmanagement UG (haftungsbeschränkt)</h3>
                            <address>
                                <p> <i class="icon-location"></i><span itemprop="streetAddress">Rhönring 60</span>
                                    <br> D-<span itemprop="postalCode">64289</span> <span itemprop="addressLocality">Darmstadt</span>
                                    <br><i class="icon-phone"></i>&nbsp;+49 (0) 6151 154 06 61
                                    <br><i class="icon-mail-alt"></i>&nbsp;<a href="mailto:kontakt@junior-comtec.de">kontakt@junior-comtec.de</a></p>
                            </address>
                        </div>
                    </div>
                </div>
                <!-- indexer::stop -->
                <!-- Template for "only counting", no display in Frontend. --><span class="visitor_count invisible"><!-- counted --></span>
                <script>
                var iWidth = window.innerWidth || (window.document.documentElement.clientWidth || window.document.body.clientWidth);
                var iHeight = window.innerHeight || (window.document.documentElement.clientHeight || window.document.body.clientHeight);
                var sWidth = screen.width;
                var sHeight = screen.height;
                document.write('<img class="invisible" src="system/modules/visitors/public/ModuleVisitorsScreenCount.php?vcid=1&scrw=' + sWidth + '&scrh=' + sHeight + '&scriw=' + iWidth + '&scrih=' + iHeight + '">');
                </script>
                <!-- indexer::continue -->
            </div>
        </section>
        <section id="footerRights">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="socialNetwork">
                            <li><a target="_blank" href="http://www.xing.com/companies/juniorcomtecdarmstadte.v." title="Xing"><i class="icon-xing iconRounded"></i></a></li>
                            <li><a target="_blank" href="http://plus.google.com/109544407912470550514/posts" title="Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/company/junior-comtec-projektmanagement-ug-haftungsbeschr%C3%A4nkt-" title="LinkedIn"><i class="icon-linkedin-1 iconRounded"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Copyright © 2016 <a href="http://www.junior-comtec.de" target="blank">Junior-Comtec.de</a> / All rights reserved.</p>
                        <p><a href="impressum.html" title="Impressum">Impressum</a></p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</div>
